@import url(https://fonts.googleapis.com/css?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400|Fira+Code&display=swap);

$default-type: 'Roboto', sans-serif;
$default-bold-type: 'Roboto', sans-serif;
$default-light-type: 'Roboto', sans-serif;
$code-type: 'Fira Code', monospace, sans-serif;
$title-type: 'Roboto', sans-serif;
$handwriting-type: 'Roboto', sans-serif;

$heading-type: $default-bold-type;
$light-type: $default-light-type;
$para-type: $default-type;
$label-type: $default-type;
$annotation-type: $default-type;
$alt-heading-type: $default-type;

$body-font: $para-type;
$title-font: $title-type;
$font-stack__code: $code-type;

$font__base-size: 16px;
$font__base-line-height: 1.5em;
