$default-type: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$default-bold-type: $default-type;
$default-light-type: $default-type;
$code-type: 'Fira Code', monospace, sans-serif;

$title-type: $default-type;
$handwriting-type: $default-type;
$heading-type: $default-bold-type;
$light-type: $default-light-type;
$para-type: $default-type;
$label-type: $default-type;
$annotation-type: $default-type;
$alt-heading-type: $default-type;

$body-font: $para-type;
$title-font: $title-type;
$font-stack__code: $code-type;

$font__base-size: 16px;
$font__base-line-height: 1.5em;
