*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    min-height: 100%;
}
a {
    text-decoration: none;
}
img {
  max-width: 100%;
}
