$color__primary: #1a738f; //#1789ac //#41b7d8;
$color__secondary: #b14a0f;
$color__text: #6a6b74; //#8C8C8C; #36404a;
$color__heading: #333333;
$color__bg: #f3f6fa;
$color__hr-stripe: #e1e3e6;
$color__bg-masthead: #e1e3e6;
$color__tweet-btn: #53A8E8;
$color__code-highlight-text: #5a6873;
$color__code-highlight-bg: #edeff3; //#eceef1; //white; //#eceef1; //#eaedf1;
$color__code-highlight-dark-text: #b0b8c0; //#89c171;
$color__code-highlight-dark-bg: #22292f; // darken($color__bg, 5%)
$color__code-highlight-lineno-bg: #f0f4f5;
$color__code-highlight-lineno-color: #bcc0c1;
$color__code-highlight-lineno-code-bg: white;
$color__code-highlight-filename-bg: #e8ecec;
$color__code-highlight-filename-color: #646b6c;
$color__code-highlight-highlight-bg: #e4fbde; //#fcfbcb; 
$color__postcard-text: #181d22;
$color__postcard-bg-tint: rgba($color__bg, 0.85);
$color__postcard-seal--dark: #333333;
$color__postcard-seal--light: #95a2b3;
$color__postcard-stamp-border: #e8e8e8;
$color__title-post-header: #18252d;
$color__title-post-header-bg: #ebeef1;
$color__text--post-title: #cdd7e2;// #444648;
$color__text--post-blurb: #93939c;
$color__text--post-body: $color__text;
$color__icon-post-nav: rgba(24, 37, 45, 0.494);
$color__link: $color__primary;
$color__link-active: darken($color__primary, 10%);
$color__hr-border: darken($color__bg, 4%);
$color__table-bg: lighten($color__secondary, 58%);
$color__table-head-bg: mix($color__bg, $color__secondary, 16%);
$color__table-head-text: lighten($color__secondary, 55%);
$color__table-border: lighten($color__secondary, 30%);
$color__table-stripe: lighten($color__secondary, 50%);
$colot__bg-blockquote: white;
$colot__color-blockquote: #4f5056;
$color__block__primary: mix($color__bg, $color__primary, 60%);
