$color__primary: #5f7aa2; //#41b7d8;
$color__secondary: #4E4353;
$color__text: #98989e;
$color__heading: #333333;
$color__bg: #191a1d;
$color__hr-stripe: #dde2e9;
$color__bg-masthead: #191a1d;
$color__tweet-btn: #53A8E8;
$color__code-highlight-text: #5a6873;
$color__code-highlight-bg: darken($color__bg, 5%);
$color__code-highlight-dark-text: #b0b8c0;
$color__code-highlight-dark-bg: #22292f; // darken($color__bg, 5%)
$color__code-highlight-lineno-bg: #f0f4f5;
$color__code-highlight-lineno-color: #bcc0c1;
$color__code-highlight-lineno-code-bg: white;
$color__code-highlight-filename-bg: #e8ecec;
$color__code-highlight-filename-color: #909a9c;
$color__postcard-text: #36404a;
$color__postcard-bg-tint: rgba($color__bg, 0.4);
$color__postcard-seal--dark: #333333;
$color__postcard-seal--light: #95a2b3;
$color__postcard-stamp-border: #e8e8e8;
$color__title-post-header: #e8e8e8;
$color__title-post-header-bg: #18252d;
$color__text--post-title: #cdd7e2;// #444648;
$color__text--post-blurb: #93939c;
$color__text--post-body: $color__text;
$color__icon-post-nav: rgba(255,255,255,0.3);
$color__link: $color__primary;
$color__link-active: darken($color__primary, 10%);
$color__hr-border: lighten($color__bg, 8%);
$color__table-bg: lighten($color__bg, 2%);
$color__table-head-bg: $color__secondary;
$color__table-head-text: $color__text;
$color__table-border: lighten($color__bg, 8%);
$color__table-stripe: lighten($color__bg, 4%);
$colot__bg-blockquote: white;
$colot__color-blockquote: #8a8b8f;
$color__block__primary: mix($color__bg, $color__primary, 60%);
