@import "compass/reset";

header{
	background-color: #34495E;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 300px;
	display: block;
	border-bottom: 10px solid #48C9B0;
	text-align: center;
	h1{
		font-size: 50px;
		color: #FFF;
		margin-top: 100px;
	}
	h3{
		font-size: 30px;
		color: #48C9B0;
		margin-top: 30px;
	}
}