<footer role="contentinfo" class="push-1 pad-1">
    <div class="wrapper centered overflowhidden">
        <div class="row space-3">
            <div class="col-sm-9">
                <section class="profile">
                   <div class="row">
                       <div class="col-sm-4 text-right">
                            <img src="/assets/img/me.jpg" alt="">
                       </div>
                       <div class="col-sm-8">
                            <p>Hey there! I'm <strong>Praseetha KR</strong>, a web developer/designer from Bangalore. <a href="/about">more <i class="fa fa-angle-right"></i></a></p>
                       </div>
                   </div>

                </section>
            </div>
            <div class="col-sm-3">
                <div class="social">
                    <a href="https://twitter.com/void_imagineer" target="_blank">
                        <i class="fa fa-twitter fa-4x"></i>
                    </a>&nbsp;&nbsp;
                    <a href="https://github.com/Praseetha-KR" target="_blank">
                        <i class="fa fa-github fa-4x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center"> &copy; 2011 - 2016</div>
</footer>
