<!-- header -->
<header class="header header__site" role="banner">

    <!-- sitelogo -->
    <a href="/" class="sitelogo" title="Praseetha KR" role="menuitem">
        <h1 class="sitelogo__title">Praseetha<span class="sr-only"> KR</span></h1>
    </a>

    <!-- sitenav -->
    <nav class="sitenav">
        <a href="/blog" class="sitenav__link sr-only" role="menuitem">Blog</a>
        <a href="/works" class="sitenav__link" role="menuitem">Works</a>
        <a href="/projects" class="sitenav__link" role="menuitem">Projects</a>
        <a href="/about" class="sitenav__link" role="menuitem">About</a>
        <a href="/feed.xml" class="sitenav__link" target="_blank" role="menuitem"><i class="fa fa-rss"></i></a>
    </nav>

</header>
