<header role="banner" class="header">
    <div class="header__siteinfo">
        <a role="menuitem" href="/" class="header__logo" title="Praseetha KR">
            {% include logo.html %}
            <h1 class="sr-only">Praseetha KR</h1>
        </a>
    </div>
    <nav role="navigation" class="header__nav">
        <ul class="nav list-silent">
            <li class="nav__item">
                <a role="menuitem" href="/" class="nav__item__link {% if page.active == 'blog' %}active{% endif %}">Blog</a>
            </li>
            <li class="nav__item">
                <a role="menuitem" href="/works" class="nav__item__link {% if page.active == 'works' %}active{% endif %}"">Works</a>
            </li>
            <li class="nav__item">
                <a role="menuitem" href="/experiments" class="nav__item__link {% if page.active == 'experiments' %}active{% endif %}">Experiments</a>
            </li>
            <li class="nav__item">
                <a role="menuitem" href="/about" class="nav__item__link {% if page.active == 'about' %}active{% endif %}">About</a>
            </li>
            <li class="nav__item">
                <a role="menuitem" class="nav__item__link" href="/feed.xml" target="_blank"><i class="fa fa-rss"></i></a>
            </li>
        </ul>
    </nav>
</header>
