<nav role="menubar" class="nav title-type">
    <div class="nav__left-wrapper">
        <ul class="nav__left">
            <li class="nav__list">
                <a role="menuitem" href="/" class="item item-logo title-type logo">Praseetha KR</a>
            </li>
        </ul>
    </div>

    <label for="toggle" class="nav__toggle">
        <a class="nav__toggle-text"><i class="fa fa-reorder"></i></a>
    </label>

    <input type="checkbox" id="toggle" />

    <div class="nav__right-wrapper title-type">
        <ul class="nav__right">
            <li class="nav__list">
                <a role="menuitem" href="/" class="item {% if page.active == 'blog' %}active{% endif %}">Blog</a>
            </li>
            <li class="nav__list">
                <a role="menuitem" href="/works" class="item {% if page.active == 'works' %}active{% endif %}"">Works</a>
            </li>
            <li class="nav__list">
                <a role="menuitem" href="/experiments" class="item {% if page.active == 'experiments' %}active{% endif %}">Experiments</a>
            </li>
            <li class="nav__list">
                <a role="menuitem" href="https://praseethakr.tumblr.com/" target="_blank" class="item">Photography</a>
            </li>
            <li class="nav__list">
                <a role="menuitem" href="/about" class="item {% if page.active == 'about' %}active{% endif %}">About</a>
            </li>
            <li class="nav__list">
                <a role="menuitem" class="item" href="/feed.xml" target="_blank"><i class="fa fa-rss"></i></a>
            </li>
        </ul>
    </div>
</nav>
