<section>
    {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
    {% assign tag_words = site_tags | split:',' | sort %}
    <ul class="post__tags__list">
        {% for item in (0..site.tags.size) %}
            {% unless forloop.last %}
                {% capture this_word %}{{ tag_words[item] }}{% endcapture %}
                <li class="post__tag">
                    <a href="{{ '/tag/' | append:this_word }}">
                        {{ this_word }}
                        <span>({{ site.tags[this_word].size }})</span>
                    </a>
                </li>
            {% endunless %}
        {% endfor %}
    </ul>
</section>
