$color__primary: #00BCD4;
$color__secondary: #4CAF50;

$color__silver: hsl(0,0%,95%);
$color__dark: #333;
$color__gray-dark: #505050;
$color__gray: #9E9E9E;
$color__gray-medium: #E8E8E8;

$color__link: $color__primary;
$color__link-active: $color__secondary;

$color__body-bg: white;
$color__body-text: hsl(300, 7%, 28%);

$color__header-bg: $color__silver;
$color__header-title: $color__dark;
$color__header-desc: #999;

$color__footer-bg: $color__dark;
$color__footer-text: $color__gray-medium;
$color__footer-links-gray: $color__gray-dark;
$color__footer-links-gray-alt: $color__gray;

$color__table-head-bg: $color__primary;
$color__table-head-text: white;
$color__table-border: $color__gray-medium;
$color__table-stripe: lighten($color__gray-medium, 6%);

$color__aside-bg: $color__silver;
$color__aside-fold: darken($color__silver, 10%);

$color__bullet-ol: $color__primary;
$color__bullet-ul: $color__primary;

$color__btn-primary-text: white;
$color__btn-primary-bg: $color__secondary;
$color__btn-primary-bg-alt: lighten($color__secondary, 10%);

$color__page-nav-text: #EFEFEF;
$color__page-nav-text-alt: $color__primary;
$color__page-nav-bg: rgba(255,255,255,0.5);
$color__page-nav-bg-hover: #F5E8F5;
$color__page-nav-border: #ECDFEC;

$color__btn-tweet-text: white;
$color__btn-tweet-bg: hsl(203,89%,53%);
$color__btn-tweet-bg-alt: lighten($color__btn-tweet-bg, 10%);

$color__masthead-fill: lighten($color__primary, 10%);
$color__archive-time: $color__secondary;

$color__work-item-bg: $color__silver;
$color__work-category-bg: $color__primary;
$color__work-category-text: white;

