$base__font: 16px;
$base__line-height: 1.5;

$title__padding: 18vh 0;
$title__font-size: 2em;

$article__heading: 3em;
$article__font: 1.21em;
$article__line-height: 1.7;
$article__width: 70%;

$table-padding: 0.5em;

$list__bullet-width-ol: 1.2em;
$list__bullet-width-ul: 1.2em;
$list__bullet-padding-ol: 0.5em;
$list__bullet-padding-ul: 0.2em;
$list__bullet-size: 0.5em;

$btn__code-radius: 0.3em;
$btn__code-padding: 0.75em 1em;

$btn__base-radius: 0.3em;
$btn__base-padding: 0.5em 1em;
