---
layout: default
title: imagineer
---
<div class="container">
  <div class="row">
    <div class="col-lg-12 thin">
      <section class="push-four-bottom push-six-top">
        <div id="articles"> 
          {% for post in paginator.posts %}
            <div class="row post">
              <div class="col-lg-9 col-md-7 col-sm-9 col-xs-12 post-content">
                <h2 class="large-prose"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <p>{{ post.content }}</p>
                <a class="read-more tiny" href="{{ post.url }}">Read more &raquo;</a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 text-right">
                <div class="post-date">
                  {{ post.date | date_to_string }}
                  <br>
                  <a href="{{ post.url }}#disqus_thread"></a>
                </div>
              </div>
            </div>
          {% endfor %}
          <!-- Pagination links -->
          <div class="row text-center">
            <div class="col-lg-8 col-md-7 col-sm-9 col-xs-12">
              <div id="post-pagination" class="pagination">
                <ul class="pages">
                {% if paginator.previous_page %}
                  <li class="page">
                    {% if paginator.previous_page == 1 %}
                      <a href="/"><i class="fa fa-chevron-left"></i></a>
                    {% else %}
                      <a href="{{ paginator.previous_page_path }}"><i class="fa fa-chevron-left"></i></a>
                    {% endif %}
                  </li>
                {% else %}
                  <li class="page disabled">
                    <span><i class="fa fa-chevron-left"></i></span>
                  </li>
                {% endif %}
                  <li class="page">
                    {% if paginator.page == 1 %}
                      <span class="current-page">1</span>
                    {% else %}
                      <a href="/articles/">1</a>
                    {% endif %}
                  </li>
                {% for count in (2..paginator.total_pages) %}
                  <li class="page">
                    {% if count == paginator.page %}
                      <span class="current-page">{{ count }}</span>
                    {% else %}
                      <a href="/articles/page{{ count }}">{{ count }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
                {% if paginator.next_page %}
                  <li class="page">
                    <a href="{{ paginator.next_page_path }}"><i class="fa fa-chevron-right"></i></a>
                  </li>
                {% else %}
                  <li class="page disabled">
                    <span><i class="fa fa-chevron-right"></i></span>
                  </li>
                {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>  
      </section>
    </div>
  </div>  
</div> 
<section id="section3" class="pad-four push-four fill-black text-center">
  <p class="legible-prose thin prose-type space-one-bottom">
    Coding with Colors
  </p>
  <div class="row">
    <div class="col-lg-12">
      <ul class="legible nospace-ul">
        <li class="linear"><a class="extradarkgray" href="https://twitter.com/void_imagineer"><i class="fa fa-twitter-square"></i></a></li>
        <li class="linear"><a class="extradarkgray" href="https://github.com/Praseetha-KR"><i class="fa fa-github-square"></i></a></li>
        <li class="linear"><a class="extradarkgray" href="http://www.flickr.com/photos/void_imagineer/"><i class="fa fa-flickr"></i></a></li>
      </ul>
    </div>
  </div>
</section>
<footer class="fill-black">
  <div class="col-lg-12 text-center">
    <div class="row">
      <div class="topline">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <p class="tiny text-left">&copy;&nbsp;<a rel="license" class="link-silent extradarkgray" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Praseetha&nbsp;KR</a></p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <p class="tiny text-right">Powered by <a class="extradarkgray" href="http://jekyllrb.com/">Jekyll</p>
        </div></a>
      </div>
    </div>
  </div>
</footer>

