{% extends "base.html" %}

{% block page_header %}
    <h1>About me</h1>
{% endblock %}

{% block content %}
  <div class="row">
  	<div class="col-lg-3 col-md-3 col-sm-4 col xs-12">
  		<br>
  		<img class="thumbnail text-center" src="https://1.gravatar.com/avatar/25961df6b4bbd50078257c0cc6b42874?size=400" alt="">
  		<br>
  	</div>
  	<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
  		<h1>Praseetha KR <small>/preziːðə-keɪ-ɑː/ <i class="icon-volume-up"></i></small></h1>
  		<h3><small>noun</small></h3>
  		<p>1. A Homo sapiens sapiens life form originated from the vicinity of Silent valley, who love to code with colors</p>
  		<p>2. An engineer living in the world of imaginations aka imagineer</p>
  		<p>3. Frontend developer from Bangalore, India</p>
  		<h3><small>related words</small></h3>
			<ul class="hashtags">
				<li>#html</li>
				<li>#css</li>
				<li>#javascript</li>
				<li>#code</li>
				<li>#food</li>
				<li>#sleep</li>
				<li>#space</li>
				<li>#nature</li>
				<li>#design</li>
				<li>#birds</li>
				<li>#rain</li>
				<li>#photography</li>
				<li>#philately</li>
				<li>#drawing</li>
				<li>#electronics</li>
				<li>#experiment</li>
				<li>#physics</li>
				<li>#tech</li>
				<li>#bash</li>
			</ul>
			<h3><small>reference</small></h3>
			<div class="social">
  			<a href="https://twitter.com/void_imagineer"><i class="icon-twitter"></i>@void_imagineer</a>
	  		<a href="http://github.com/Praseetha-KR"><i class="icon-github"></i>Praseetha-KR</a>
	  		<a href="http://www.flickr.com/photos/void_imagineer/"><i class="icon-flickr"></i>void_imagineer</a>
  		</div>
  	</div>
  </div>
{% endblock %}
