@for $i from 0 through 8 {
    .m-#{$i}-v, .m-#{$i}-top {
        margin-top: #{$i}em;
    }
    .m-#{$i}-v, .m-#{$i}-bottom {
        margin-bottom: #{$i}em;
    }
    .p-#{$i}-v, .p-#{$i}-top {
        padding-top: #{$i}em;
    }
    .p-#{$i}-v, .p-#{$i}-bottom {
        padding-bottom: #{$i}em;
    }
    .m-#{$i}-h, .m-#{$i}-left {
        margin-left: #{$i}em;
    }
    .m-#{$i}-h, .m-#{$i}-right {
        margin-right: #{$i}em;
    }
    .p-#{$i}-h, .p-#{$i}-left {
        padding-left: #{$i}em;
    }
    .p-#{$i}-h, .p-#{$i}-right {
        padding-right: #{$i}em;
    }
}

$extra-spacing-list: (
    'q': 0.25,
    'h': 0.5,
    '3q': 0.75,
    '1h': 1.5,
    '2h': 2.5
);
@each $name, $value in $extra-spacing-list {
    .m-#{$name}-v, .m-#{$name}-top {
        margin-top: #{$value}em;
    }
    .m-#{$name}-v, .m-#{$name}-bottom {
        margin-bottom: #{$value}em;
    }
    .p-#{$name}-v, .p-#{$name}-top {
        padding-top: #{$value}em;
    }
    .p-#{$name}-v, .p-#{$name}-bottom {
        padding-bottom: #{$value}em;
    }
    .m-#{$name}-h, .m-#{$name}-left {
        margin-left: #{$value}em;
    }
    .m-#{$name}-h, .m-#{$name}-right {
        margin-right: #{$value}em;
    }
    .p-#{$name}-h, .p-#{$name}-left {
        padding-left: #{$value}em;
    }
    .p-#{$name}-h, .p-#{$name}-right {
        padding-right: #{$value}em;
    }
}
