{{ define "main" }}
<div class="main-container">
    <h1 class="page__heading">Projects</h1>
    <article role="article">
        <div class="project__item">
            <div class="project__item__details">
                <h3 class="m-0-top">Pixr - CSS image editor</h3>
                <div>
                    <a target="_blank" href="https://github.com/Praseetha-KR/pixr" class="btn-theme">code</a>
                    <a target="_blank" href="http://praseetha-kr.github.io/pixr/" class="btn-theme">demo</a>
                </div>
            </div>
            <div class="project__item__thumb">
                <a href="http://praseetha-kr.github.io/pixr/" target="_blank"><img class="full-width" src="/images/projects/demo_pixr.jpg" alt="Pixr"></a>
            </div>
        </div>
        <div class="project__item">
            <div class="project__item__details">
                <h3>CSS3 Background Pattern Generator</h3>
                <div>
                    <a target="_blank" href="https://github.com/Praseetha-KR/pattern-generator" class="btn-theme">code</a>
                    <a target="_blank" href="/projects/pattern-generator/" class="btn-theme">demo</a>
                </div>
            </div>
            <div class="project__item__thumb">
                <a href="/projects/pattern-generator/" target="_blank"><img class="full-width" src="/images/projects/demo_pattern_generetor.jpg" alt="Pattern Generetor"></a>
            </div>
        </div>
        <div class="project__item">
            <div class="project__item__details">
                <h3>ColorBoard - color model converter</h3>
                <div>
                    <a target="_blank" href="https://github.com/Praseetha-KR/color-board" class="btn-theme">code</a>
                    <a target="_blank" href="/projects/color-board/" class="btn-theme">demo</a>
                </div>
            </div>
            <div class="project__item__thumb">
                <a href="/projects/color-board/" target="_blank"><img class="full-width" src="/images/projects/demo_color_board.jpg" alt="Color Board"></a>
            </div>
        </div>
        <div class="work__mentions text-center m-3-bottom">
            <p class="p-h-bottom">Check out my Github for more projects</p>
            <div class="p-1-bottom">
                <a href="https://github.com/Praseetha-KR" target="_blank" class="btn btn-theme">Github: Praseetha-KR</a>
            </div>
        </div>
    </article>
</div>
{{ end }}