$color__primary: #41b7d8;
$color__secondary: #85D2F3;

$color__silver: #f9fafb;
$color__gray: #cbced1;
$color__dark: #4a4b52;
$color__light: #f9fafb;
$color__gray-dark: #505050;
$color__gray-medium: #E8E8E8;

$color__table-head-bg: $color__secondary;
$color__table-head-text: white;
$color__table-border: $color__gray-medium;
$color__table-stripe: lighten($color__gray-medium, 6%);


$color__btn-primary-text: white;
$color__btn-primary-bg: $color__primary;
$color__btn-primary-bg-alt: darken($color__primary, 3%);

$color__btn-tweet-text: white;
$color__btn-tweet-bg: #53A8E8;
$color__btn-tweet-bg-alt: lighten($color__btn-tweet-bg, 10%);

$color__archive-time: $color__primary;

$color__work-item-bg: $color__silver;
$color__work-category-bg: $color__primary;
$color__work-category-text: white;

// new colors

$color__bg-logo: #21272d;
$color__text-dark: #36404a;
$color__bg-silver: #f1f3f5;
$color__text-gray: #95a2b3;
$color__text-lightgray: darken($color__bg-silver, 15%);
$color__border-lightgrey: darken($color__bg-silver, 1.5%);
$color__bg-code-highlight: #e3e8ea; // #343844;
$color__text-code-highlight: #5a6873; // #ccd2d8;
$color__bg-code: $color__bg-silver;
$color__text-code: #242b31;

$color__bg-post-header: $color__bg-silver;
$color__title-post-header: #18252d;
$color__text--post-title: #cdd7e2;// #444648;
$color__text--post-date: #657c8a;
$color__text--post-body: #36404a;
$color__text--post-link: #36404a;
$color__bg--post-link: #b9e9f7;
$color__text-sitenav: #404447;

$color__bullet-ol: $color__text-dark;
$color__bullet-ul: $color__text-dark;

$color__bg-highlight: #efffc7; // #DFFB7B
$color__bg-sitenav: $color__bg-silver;
$color__text-sitenav: $color__text-dark;
$colot__bg-blockquote: #dce9ec;
$color__hr-border: darken($color__bg-silver, 10%);
