$color__primary: #41b7d8;
$color__secondary: #85D2F3;

$color__silver: #f9fafb;
$color__gray: #cbced1;
$color__dark: #4a4b52;
$color__light: #f9fafb;
$color__gray-dark: #505050;
$color__gray-medium: #E8E8E8;

$color__table-head-bg: $color__secondary;
$color__table-head-text: white;
$color__table-border: $color__gray-medium;
$color__table-stripe: lighten($color__gray-medium, 6%);

$color__bullet-ol: $color__primary;
$color__bullet-ul: $color__primary;

$color__btn-primary-text: white;
$color__btn-primary-bg: $color__primary;
$color__btn-primary-bg-alt: darken($color__primary, 3%);

$color__btn-tweet-text: white;
$color__btn-tweet-bg: #53A8E8;
$color__btn-tweet-bg-alt: lighten($color__btn-tweet-bg, 10%);

$color__archive-time: $color__primary;

$color__work-item-bg: $color__silver;
$color__work-category-bg: $color__primary;
$color__work-category-text: white;

