$color__link: $color__primary;
$color__link-active: darken($color__primary, 10%);

body {
    background-color: white;
    color: $color__text-dark;
}

a {
    color: $color__link;
    &:hover, &:focus, &:active {
        color: $color__link-active;
    }
}

hr {
    border: none;
    border-bottom: 0.05em solid $color__hr-border;
}
