// overrides
a {
    color: $color__link;
    &:hover, &:focus, &:active {
        color: $color__link-active;
    }
}
hr {
    border: none;
    height: 2rem;
    background-image: repeating-linear-gradient(90deg,
      transparent,
      transparent 0.25rem,
      $color__hr-stripe 0.25rem,
      $color__hr-stripe 0.5rem
    );
}
figcaption {
    color: darken($color__text, 25%);
}
blockquote {
    background: $colot__bg-blockquote;
    color: $colot__color-blockquote;
    box-shadow: 0px 35px 35px 0px rgba(0, 0, 0, 0.12);
}
.table, .post__content > table {
    background-color: $color__table-bg;
    th {
        background-color: $color__table-head-bg;
        color: $color__table-head-text;
    }
    thead tr {
        color: $color__table-head-bg;
    }
    &, td {
        border-color: $color__table-border;
    }
    &.table-striped tbody {
        tr:nth-child(2n+1) {
            background-color: $color__table-stripe;
        }
    }
    code {
        background-color: transparent;
    }
}

// _content
body, .content-wrapper {
    background: $color__bg;
    color: $color__text;
}

// _footer
.footer {
    color: $color__text;
}

// table
.table {
    &__subtitle {
        background-color: $color__table-stripe;
        background-image: linear-gradient(-45deg, $color__table-bg 25%, transparent 25%, transparent 50%, $color__table-bg 50%, $color__table-bg 75%, transparent 75%, transparent);
    }
}

// button
%btn--base {
    padding: 0.4em 1em;
    border-radius: 0.3em;
    display: inline-block;
}
%btn--primary {
    @extend %btn--base;
    color: lighten($color__primary, 55%);
    background-color: $color__primary;
    &:hover, &:focus, &:active, &.active {
        color: lighten($color__primary, 45%);
        background-color: darken($color__primary, 5%);
    }
}
%btn--secondary {
    @extend %btn--base;
    color: lighten($color__secondary, 55%);
    background-color: $color__secondary;
    &:hover, &:focus, &:active, &.active {
        color: lighten($color__secondary, 45%);
        background-color: darken($color__secondary, 5%);
    }
}
%btn--tweet {
    @extend %btn--base;
    color: lighten($color__tweet-btn, 35%);
    background-color: $color__tweet-btn;
    &:hover, &:focus, &:active, &.active {
        color: lighten($color__tweet-btn, 45%);
        background-color: darken($color__tweet-btn, 5%);
    }
}
.btn-theme {
    @extend %btn--primary;
}
.btn-accent {
    @extend %btn--secondary;
}
.btn-tweet {
    @extend %btn--tweet;
}

// _syntax-highlight
.highlighter-rouge {
    background-color: $color__code-highlight-bg;
    color: $color__code-highlight-text;
    position: relative;
    &.language-bash, &.language-zsh, &.language-console {
        background-color: $color__code-highlight-dark-bg;
        color: $color__code-highlight-dark-text;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}
code.highlighter-rouge {
    background-color: transparent;
    color: darken($color__text, 5%);
}
.highlighter-filename {
    background-color: $color__code-highlight-filename-bg;
    color: $color__code-highlight-filename-color;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24)
}
.highlighter-rouge.highlighter-linenos {
    background-color: $color__code-highlight-lineno-code-bg;
    color: $color__code-highlight-text;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    .gutter {
        background: $color__code-highlight-lineno-bg;
        color: $color__code-highlight-lineno-color;
    }
}

// utils
.video-wrapper {
    background: darken($color__bg, 5%);
}

.block {
    &--primary{
        border-color: lighten($color__block__primary, 12%);
        background: lighten($color__block__primary, 18%);
        .highlighter-rouge:not(.language-bash) {
            background-color: lighten($color__block__primary, 22%);
        }
    }
    &--secondary{
        background-color: lighten($color__secondary, 43%);
        border-color: lighten($color__secondary, 35%);
        .highlighter-rouge {
            background-color: lighten($color__secondary, 40%);
        }
    }
}

// header
.header__site {
    background: $color__title-post-header-bg;
}
.sitenav__link {
    &--active {
        color: $color__secondary;
    }
}


// _home
.home {
    background: $color__title-post-header-bg;
}
.masthead {
    background-image: linear-gradient(transparent, $color__bg-masthead);
}

.avatarstamp {
    &__wrapper {
        background-image: linear-gradient($color__stamp-bg-tint, $color__stamp-bg-tint), url('/assets/img/avatars/stamp_head.jpg');
        border-color: $color__stamp-border;
        &::before, &::after {
            border-color: $color__bg;
        }
    }
    &__star {
        color: $color__stamp-star;
    }
}
.intro {
    &__title {
        color: $color__heading;
    }
}
.postcards {
    &__item {
        box-shadow: 0 1px 3px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.08);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }
    &__more__btn {
        border-color: $color__text;
        color: $color__text;
        &:hover {
            background-color: $color__primary;
            color: lighten($color__primary, 40%);
            border-color: $color__primary;
        }
    }
}
.postcard {
    color: $color__postcard-text;
    background: white;
    position: relative;
    &:hover, &:active, &:focus {
        color: $color__postcard-text;
    }
    &__time--light {
        color: $color__postcard-seal--light;
    }
    &__time--dark {
        color: $color__postcard-seal--dark;
        opacity: 0.3;
    }
    &__tag {
        color: $color__postcard-text;
    }
}


// post
.post {
    color: $color__text--post-body;

    h1, h2, h3, h4, h5 {
        color: $color__heading;
    }

    &__h5-5 {
        color: $color__heading;
    }

    &__intro {
        background: $color__title-post-header-bg;
        color: $color__title-post-header;
    }
    &__header {
        &__left, &__right {
            .post__navigation__link {
                color: $color__icon-post-nav;
            }
        }
    }
    &__blurb {
        color: $color__text--post-blurb;
    }
    &__tags {
        &__icon {
            i {
                color: rgba($color__primary, 0.8);
            }
        }
    }
    &__tag {
        border-color: $color__primary;
        a {
            color: $color__primary;
        }
    }

    &__index {
        border-color: rgba($color__secondary, 0.3);
        background-color: rgba($color__secondary, 0.05);
    }

    &__navigation {
        &__link {
            color: $color__primary;
            border: 1px solid lighten($color__primary, 45%);
            background: rgba(lighten($color__primary, 10%), 0.1);
            @media (min-width: 768px) {
                background: transparent;
                color: rgba($color__text, 0.5);
                border-color: transparent;
            }
        }
    }
}

// blog
.blogpost {
    &__time {
        color: darken($color__text, 5%);
    }
    &__pagination {
        &__nav {
            border-color: $color__text;
            color: $color__text;
            &:hover {
                background-color: $color__secondary;
                color: $color__text;
                border-color: $color__secondary;
            }
        }
    }
}

// work

.work {
    color: $color__text--post-body;

    h1, h2, h3, h4, h5 {
        color: $color__heading;
    }

    &__heading {
        background: $color__title-post-header-bg;
        color: $color__title-post-header;
    }
    &__header {
        &__left, &__right {
            .post__navigation__link {
                color: $color__icon-post-nav;
            }
        }
    }
    &__overview {
        background: $color__title-post-header-bg;
        color: $color__title-post-header;
    }
    &-fill-gray {
        background: $color__title-post-header-bg;
    }
    &-fill-white {
        background: white;
    }
    &-bordered {
        border-width: 1px 0;
        border-style: solid;
        border-color: $color__title-post-header-bg;
    }

    &__navigation {
        &__link {
            color: $color__primary;
            border: 1px solid lighten($color__primary, 45%);
            background: rgba(lighten($color__primary, 10%), 0.1);
            @media (min-width: 768px) {
                background: transparent;
                color: rgba($color__text, 0.5);
                border-color: transparent;
            }
        }
    }
    &-design-card {
        &__graphic {
            background-color: white;
            &:hover::after{
                color: white;
                background: rgba(42,44,47,0.92);
            }
        }
        &__title {
            color: $color__title-post-header;
        }
        &__scope {
            background-color: darken($color__title-post-header-bg, 5%);
            color: $color__title-post-header;
        }
    }
}

// .work {
//     &__item {
//         background-color: lighten($color__bg, 3%);
//         &__thumb {
//             background-color: lighten($color__bg, 5%);
//         }
//         &__title {
//             color: $color__primary;
//         }
//         &__duration {
//             color: darken($color__text, 20%);
//         }
//     }
//     &__mentions {
//         border-color: rgba($color__secondary, 0.3);
//         background-color: rgba($color__secondary, 0.05);
//     }
// }

// project
.project {
    &__item {
        border-color: lighten($color__bg, 10%);
        background-color: lighten($color__bg, 3%);
    }
    &__thumb {
        background-color: lighten($color__bg, 5%);
    }
    &__title {
        color: $color__primary;
    }
    &__duration {
        color: darken($color__text, 20%);
    }
}
