$color__primary: #1789ac; //#41b7d8;
$color__secondary: #c76952;
$color__text: #36404a;
$color__bg: #f3f6fa;
$color__bg-masthead: #e1e3e6;
$color__tweet-btn: #53A8E8;
$color__code-highlight-text: #5a6873;
$color__code-highlight-bg: #ebeef1; // darken($color__bg, 5%)
$color__stamp-star: #25274c;
$color__stamp-border: #969694;
$color__stamp-bg-tint: rgba(16, 30, 70, 0.582); // rgba(16, 30, 70, 0.582)
$color__stamp-computed-fill: #5a4f61;
$color__postcard-text: #36404a;
$color__postcard-bg-tint: rgba($color__bg, 0.7);
$color__postcard-seal--dark: #333333;
$color__postcard-seal--light: #95a2b3;
$color__postcard-stamp-border: #e8e8e8;
$color__title-post-header: #18252d;
$color__text--post-title: #cdd7e2;// #444648;
$color__text--post-body: $color__text;
$color__icon-post-nav: rgba(255,255,255,0.3);
$color__link: $color__primary;
$color__link-active: darken($color__primary, 10%);
$color__hr-border: darken($color__bg, 4%);
$color__table-bg: lighten($color__secondary, 43%);
$color__table-head-bg: $color__secondary;
$color__table-head-text: $color__bg;
$color__table-border: lighten($color__secondary, 30%);
$color__table-stripe: lighten($color__secondary, 39%);
$colot__bg-blockquote: rgba($color__primary, 0.2);
