$font-stack__text: (
    'Open Sans',
    sans-serif,
);
$font-stack__title: (
    'Montserrat',
    serif,
);
$font-stack__heading: (
    'Merriweather',
    'EB Garamond',
    serif,
);
$font-stack__desc: (
    'Merriweather',
    'Georgia',
    serif
);
$font-stack__handwriting: (
    'Coming Soon',
    'Open Sans',
    sans-serif
);
$font-stack__code: (
    monospace,
    sans-serif
);

body {
    font-family: $font-stack__text;
    font-size: $base__font;
    line-height: $base__line-height;
}
strong {
    font-weight: 600;
}

.title-type {
    font-family: $font-stack__title;
}

.header-type {
    font-family: $font-stack__heading;
}
.desc-type {
    font-family: $font-stack__desc;
}
.informal-type {
    font-family: $font-stack__handwriting;
}
.highlight {
    font-family: $font-stack__code;
}

main {
    line-height: 1.5;
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-stack__heading;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.6em;
    }
    h4 {
        font-size: 1.4em;
    }
    h5 {
        font-size: 1.2em;
    }
    h6 {
        font-size: 1em;
    }
}
