@import url(https://fonts.googleapis.com/css?family=Fira+Code|Questrial|Roboto+Condensed:800|Amiri|La+Belle+Aurore);

@mixin font($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url($file-path + '.otf') format('opentype');
        font-weight: $font-weight;
        font-style: $font-style;
    }
}

@include font('Inter', '/assets/font/Inter/Inter-Regular', normal, normal);
@include font('Inter-Medium', '/assets/font/Inter/Inter-Medium', 500, normal);
@include font('Inter-SemiBold', '/assets/font/Inter/Inter-Semibold', 600, normal);
@include font('Inter-Bold', '/assets/font/Inter/Inter-Semibold', bold, normal);
@include font('Inter-Black', '/assets/font/Inter/Inter-Semibold', 900, normal);

$title-type: 'Inter-Black', sans-serif;
$heading-type: 'Inter-Bold', sans-serif;
$para-type: 'Inter', sans-serif;

$label-type: 'Questrial', sans-serif;
$annotation-type: 'Amiri', 'Georgia', serif;
$alt-heading-type: 'Roboto Condensed', sans-serif;
$code-type: 'Fira Code', monospace, sans-serif;

$body-font: $para-type;
$title-font: $title-type;
$font-stack__code: $code-type;

$font__base-size: 16px;
$font__base-line-height: 1.5em;

body {
    font-family: $body-font;
    font-size: $font__base-size;
    line-height: $font__base-line-height;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-type;
    font-weight: 800;
    margin: 0.5em 0;
}

.post {
    h1, h2, h3, h4, h5, h6 {
        margin: 1.5em 0 0.3em;
    }
}

h1 {
    font-size: 2.0em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.1em;
}
@media (min-width: 768px) {
    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 1.9em;
    }
    h3 {
        font-size: 1.6em;
    }
    h4 {
        font-size: 1.4em;
    }
    h5 {
        font-size: 1.1em;
    }
}

.title-type {
    font-family: $title-type;
}

.handwriting-type {
    font-family: 'La Belle Aurore', cursive;
}

.prose-type {
    font-family: $label-type;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.annotation-type {
    font-family: $annotation-type;
}

.textsize-regular {
    font-size: 1em;
}
.textsize-small {
    font-size: 0.8em;
}

.bold, strong {
    font-family: 'Inter-Bold', sans-serif;
}
