body
	background-color: #efefef

h1, h2, h3, h4, h5, h6
	font-family: 'Oswald', sans-serif

hr
	border-top: 1px solid #ccc
	border-bottom: 1px solid #fff

.navbar-brand > small
	font-size: 0.75em
	line-height: 1em
	margin-left: 10px

.navbar-right > li:nth-child(4) > a:hover
	background-color: #69D2E7

.navbar-inverse
	background-color: #080808

.content
	padding-top: 40px

footer
	height: 80px
	width: 100%
.center-container
	background: #2e5f3e
	color: #4fa46b
	width: 100%
	min-height: 600px
	clear: both
	position: relative

.center-block
	background: #4fa46b
	color: #FFF

.absolute-center
	width: 320px
	height: 80px
	min-width: 200px
	overflow: auto
	margin: auto
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
.codepen
	h3
		padding-bottom: 20px
		padding-top: 10px
	p
		padding-top: 10px
		margin-bottom: 50px

.craft-steps p
	height: 150px

.hashtags
	margin-left: 0
	padding-left: 0
	li
		list-style-type: none
		display: inline-block
		padding-right: 10px
		font-weight: bold

.social
	a
		display: inline-block
		padding-right: 30px
		color: #333
		&:hover
			text-decoration: none
			color: #999999
		i
			padding-right: 8px

@media screen and (max-width: 768px)
	.gallery
		img
			max-width: 60%
			margin-bottom: 30px

@media screen and (min-width: 768px)
	.gallery
		img
			max-width: 500px
			margin-bottom: 50px






