---
layout: default
comments: true
---

<div class="content">
    <header role="post-title">
        <h2>{{ page.title }}</h2>
        <time>{{ page.date | date_to_string }}</time>
    </header>
    <article class="post-content">
        {{ content }}
    </article>
</div>

<nav class="page-nav">
    <a href="{{page.next.url}}">{% if page.next.url %}<i class="fa fa-chevron-left fa-2x"></i>{% endif %}</a>
    <a href="{{page.previous.url}}">{% if page.previous.url %}<i class="fa fa-chevron-right fa-2x"></i>{% endif %}</a>
</nav>
<div class="content">
    {% if page.comments %}
        <div id="disqus_thread"></div>
        <script type="text/javascript" src="//disqus.com/forums/imagineer/embed.js"></script>
        <noscript><a href="//imagineer.disqus.com/?url=ref">View the discussion thread.</a></noscript>
        <a href="//disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}
</div>
