---
layout: default
active: blog
comments: true
---

<main role="main">
    <section class="post__intro">
        <div class="post__header">
            <h1 role="heading" class="post__heading">{{ page.title }}</h1>
            <time class="post__date">{{ page.date | date_to_string }}</time>
        </div>
    </section>
    <article role="article" class="post">
        {{ content }}

        <!-- <section class="post__comments">
            <div id="disqus_thread"></div>
            <script type="text/javascript" src="//disqus.com/forums/imagineer/embed.js"></script>
            <noscript><a href="//imagineer.disqus.com/?url=ref">View the discussion thread.</a></noscript>
            <a href="//disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        </section> -->
    </article>

    <nav role="navigation" class="arrow-navigation space-3-top">
        {% if page.next.url %}
            <a href="{{page.next.url}}" class="dark">
                <i class="fa fa-chevron-left"></i>
            </a>
        {% endif %}
        {% if page.previous.url %}
            <a href="{{page.previous.url}}" class="dark">
                <i class="fa fa-chevron-right"></i>
            </a>
        {% endif %}
    </nav>
</main>
