---
layout: default
active: blog
comments: true
---

<main role="main">
    <section class="post__intro">
        <div class="post__header__left">
            {% if page.next.url %}
                <a href="{{page.next.url}}" class="post__navigation__link">
                    <i class="fa fa-chevron-left"></i>
                </a>
            {% endif %}
        </div>
        <div class="post__header">
            <div class="post__meta">
                <time class="post__date">Published on {{ page.date | date_to_string }}</time>
                <h1 role="heading" class="post__heading">{{ page.title }}</h1>
            </div>
            <div class="post__blurb">{{ page.blurb }}</div>
            <div class="post__graphic" style="margin-bottom: -{{page.graphic.overlap}}rem">
                <img src="{{page.graphic.url}}">
            </div>
        </div>
        <div class="post__header__right">
            {% if page.previous.url %}
                <a href="{{page.previous.url}}" class="post__navigation__link">
                    <i class="fa fa-chevron-right"></i>
                </a>
            {% endif %}
        </div>
    </section>
    <article role="article" class="post" style="padding-top: {{page.graphic.overlap}}rem">
        <section class="post__content">{{ content }}</section>

        <div class="post__tags">
            <span class="post__tags__icon">
                <i class="fa fa-tag" title="tags"></i>
            </span>
            <div class="post__tags__list">
                {% for tag in page.tags %}
                    <span class="post__tag"><a href="{{ '/tag/' | append:tag }}">{{ tag }}</a></span>
                {% endfor %}
            </div>
        </div>

        <div class="post__social">
            <section class="share m-2-top">
                <a class="btn-tweet" href=""><i class="fa fa-twitter"></i>&nbsp;&nbsp;Tweet</a>
            </section>

            <section class="post__comments p-2-top">
                <div id="disqus_thread"></div>
                <script type="text/javascript" src="//disqus.com/forums/imagineer/embed.js"></script>
                <noscript><a href="//imagineer.disqus.com/?url=ref">View the discussion thread.</a></noscript>
                <a href="//disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
            </section>
        </div>
    </article>

    <nav role="navigation" class="post__navigation--bottom">
        {% if page.next.url %}
            <a href="{{page.next.url}}" class="post__navigation__link">
                <i class="fa fa-chevron-left"></i>
            </a>
        {% endif %}
        {% if page.previous.url %}
            <a href="{{page.previous.url}}" class="post__navigation__link">
                <i class="fa fa-chevron-right"></i>
            </a>
        {% endif %}
    </nav>
</main>

<!-- Twitter share button -->
<script>
    'use strict';
    window.onload = function(){
        var postUrl = '{{ site.url }}{{ page.url }}';
        var postTitle = '{{ page.title }}';
        var twitterHandle = '{{ site.twitter_username }}';
        var twitterShareUrl = 'https://twitter.com/intent/tweet?original_referer=' + postUrl + '&amp;text=' + postTitle + '&amp;tw_p=tweetbutton&amp;url=' + postUrl + '&amp;via=' + twitterHandle;
        console.log('posturl', twitterShareUrl);
        var width = 600;
        var height = 400;
        var left = (window.screen.width / 2) - ((width / 2) + 10);
        var top = (window.screen.height / 2) - ((height / 2) + 50);
        document.querySelector('.btn-tweet').onclick = function() {
            var popUp = window.open(twitterShareUrl, 'popupwindow', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width=' + width + ',height='+ height +', top='+top+', left='+left);
            popUp.focus();
            return false;
        };
    };
</script>
