---
layout: default
title: 'Tags | imagineer'
active: blog
---
<div class="main-container centered">
    <h1 class="page__heading">{{ page.title }}</h1>
    <article role="article" class="p-q-top">
        <ul role="list" class="posts">
            {% for post in site.posts %}
                {% for tag in post.tags %}
                    {% if tag == page.tag %}
                        <li role="listitem" class="postitem">
                            <time class="postitem__time">{{ post.date | date_to_string }}</time>
                            <a class="postitem__link" href="{{ post.url }}">{{ post.title }}</a>
                            <!-- <p class="postitem__blurb">{{ post.blurb }}</p> -->
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
        <section class="p-4-bottom">
            {% include pagination.html prev_title='New Posts' prev_url=paginator.previous_page_path next_title='Old Posts' next_url=paginator.next_page_path %}
        </section>
    </article>
</div>
