---
layout: default
active: works
comments: false
---

<main role="main">
    <section class="work__heading">
        <div class="work__header__left">
            {% if page.previous.url %}
                <a href="{{page.previous.url}}" class="work__navigation__link">
                    <i class="fa fa-chevron-left"></i>
                </a>
            {% endif %}
        </div>
        <div class="work__header">
            <div class="work__meta">
                <h1 role="heading" class="work__title">{{ page.title }}</h1>
                <h3 class="work__subtitle">{{ page.subtitle }}</h3>
            </div>
        </div>
        <div class="work__header__right">
            {% if page.next.url %}
                <a href="{{page.next.url}}" class="work__navigation__link">
                    <i class="fa fa-chevron-right"></i>
                </a>
            {% endif %}
        </div>
    </section>

    <section class="work__overview">
        <div class="work__intro">{{ page.intro }}</div>
        <div class="work__requirements">{{ page.requirements }}</div>
        <div class="work__about">
            <div class="work__date">Designed in {{ page.year }}</div>
            <div class="work__company">For {{ page.company }}</div>
            <ul class="work__scope">
                {% for s in page.scope %}
                    <li>{{ s }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <article role="article" class="work">
        {{ content }}
    </article>

    <!-- <nav role="navigation" class="post__navigation--bottom m-3-top">
        {% if page.next.url %}
            <a href="{{page.next.url}}" class="post__navigation__link">
                <i class="fa fa-chevron-left"></i>
            </a>
        {% endif %}
        {% if page.previous.url %}
            <a href="{{page.previous.url}}" class="post__navigation__link">
                <i class="fa fa-chevron-right"></i>
            </a>
        {% endif %}
    </nav> -->
</main>
