<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="max-age=3600" />
    <meta http-equiv="cache-control" content="public" />

    <title>
      {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{.Site.Title }}{{ end }}
    </title>

    {{ partial "metatags.html" . }}

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {{ $appStyle := resources.Get "scss/app.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $appStyle.Permalink }}" />

    {{ $themeLightStyle := resources.Get "scss/theme-light.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $themeLightStyle.Permalink }}" />
  </head>
  <body>
    {{ partial "header.html" . }}

    <div class="content-wrapper">
        {{- block "main" . }}{{- end }}
    </div>
    
    {{ partial "footer.html" . }}
  </body>
</html>
