a {
  color: #1CB;
}

a:hover {
  color: #323A45;
}

a:hover.link-silent {
  text-decoration: none;
}

.all-caps {
  text-transform: uppercase;
}

.all-lower {
  text-transform: lowercase;
}

.all-capitalize {
  text-transform: capitalize;
}

.extralarge {
  font-size: 4em;
}

.large {
  font-size: 3em;
}

.large-prose {
  font-size: 2.3em;
}

.legible {
  font-size: 1.8em;
  line-height: 1.6em;
}

.legible-prose {
  font-size: 1.6em;
  line-height: 1.6em;
}

.regular {
  font-size: 1.4em;
  line-height: 1.6em;
}

.regular-prose {
  font-size: 1.2em;
  line-height: 1.6em;
}

.secondary {
  font-size: 1.1em;
  line-height: 1.6em;
}

.secondary-prose {
  font-size: 0.9em;
  line-height: 1.6em;
}

.tiny {
  font-size: 0.8em;
}

.thin {
  font-weight: 300;
}

.semibold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.normal {
  font-style: normal;
}

.hyphenated {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.push-1q, .push-1q-top {
  padding-top: 0.25em;
}

.push-1q, .push-1q-bottom {
  padding-bottom: 0.25em;
}

.push-half, .push-half-top {
  padding-top: 0.5em;
}

.push-half, .push-half-bottom {
  padding-bottom: 0.5em;
}

.push-3q, .push-3q-top {
  padding-top: 0.75em;
}

.push-3q, .push-3q-bottom {
  padding-bottom: 0.75em;
}

.push-one, .push-one-top {
  padding-top: 1em;
}

.push-one, .push-one-bottom {
  padding-bottom: 1em;
}

.push-line, .push-line-top {
  padding-top: 1.5em;
}

.push-line, .push-line-bottom {
  padding-bottom: 1.5em;
}

.push-two, .push-two-top {
  padding-top: 2em;
}

.push-two, .push-two-bottom {
  padding-bottom: 2em;
}

.push-three, .push-three-top {
  padding-top: 3em;
}

.push-three, .push-three-bottom {
  padding-bottom: 3em;
}

.push-four, .push-four-top {
  padding-top: 4em;
}

.push-four, .push-four-bottom {
  padding-bottom: 4em;
}

.push-six, .push-six-top {
  padding-top: 6em;
}

.push-six, .push-six-bottom {
  padding-bottom: 6em;
}

.push-eight, .push-eight-top {
  padding-top: 8em;
}

.push-eight, .push-eight-bottom {
  padding-bottom: 8em;
}

.space-1q, .space-1q-top {
  margin-top: 0.25em;
}

.space-1q, .space-1q-bottom {
  margin-bottom: 0.25em;
}

.space-half, .space-half-top {
  margin-top: 0.5em;
}

.space-half, .space-half-bottom {
  margin-bottom: 0.5em;
}

.space-3q, .space-3q-top {
  margin-top: 0.75em;
}

.space-3q, .space-3q-bottom {
  margin-bottom: 0.75em;
}

.space-one, .space-one-top {
  margin-top: 1em;
}

.space-one, .space-one-bottom {
  margin-bottom: 1em;
}

.space-line, .space-line-top {
  margin-top: 1.5em;
}

.space-line, .space-line-bottom {
  margin-bottom: 1.5em;
}

.space-two, .space-two-top {
  margin-top: 2em;
}

.space-two, .space-two-bottom {
  margin-bottom: 2em;
}

.space-three, .space-three-top {
  margin-top: 3em;
}

.space-three, .space-three-bottom {
  margin-bottom: 3em;
}

.space-four, .space-four-top {
  margin-top: 4em;
}

.space-four, .space-four-bottom {
  margin-bottom: 4em;
}

.space-six, .space-six-top {
  margin-top: 6em;
}

.space-six, .space-six-bottom {
  margin-bottom: 6em;
}

.space-eight, .space-eight-top {
  margin-top: 8em;
}

.space-eight, .space-eight-bottom {
  margin-bottom: 8em;
}

.pad-1q, .pad-1q-left {
  padding-left: 0.25em;
}

.pad-1q, .pad-1q-right {
  padding-right: 0.25em;
}

.pad-half, .pad-half-left {
  padding-left: 0.5em;
}

.pad-half, .pad-half-right {
  padding-right: 0.5em;
}

.pad-3q, .pad-3q-left {
  padding-left: 0.75em;
}

.pad-3q, .pad-3q-right {
  padding-right: 0.75em;
}

.pad-one, .pad-one-left {
  padding-left: 1em;
}

.pad-one, .pad-one-right {
  padding-right: 1em;
}

.pad-line, .pad-line-left {
  padding-left: 1.5em;
}

.pad-line, .pad-line-right {
  padding-right: 1.5em;
}

.pad-two, .pad-two-left {
  padding-left: 2em;
}

.pad-two, .pad-two-right {
  padding-right: 2em;
}

.pad-three, .pad-three-left {
  padding-left: 3em;
}

.pad-three, .pad-three-right {
  padding-right: 3em;
}

.pad-four, .pad-four-left {
  padding-left: 4em;
}

.pad-four, .pad-four-right {
  padding-right: 4em;
}

.margin-1q, .margin-1q-left {
  margin-left: 0.25em;
}

.margin-1q, .margin-1q-right {
  margin-right: 0.25em;
}

.margin-half, .margin-half-left {
  margin-left: 0.5em;
}

.margin-half, .margin-half-right {
  margin-right: 0.5em;
}

.margin-3q, .margin-3q-left {
  margin-left: 0.75em;
}

.margin-3q, .margin-3q-right {
  margin-right: 0.75em;
}

.margin-one, .margin-one-left {
  margin-left: 1em;
}

.margin-one, .margin-one-right {
  margin-right: 1em;
}

.margin-line, .margin-line-left {
  margin-left: 1.5em;
}

.margin-line, .margin-line-right {
  margin-right: 1.5em;
}

.margin-two, .margin-two-left {
  margin-left: 2em;
}

.margin-two, .margin-two-right {
  margin-right: 2em;
}

.margin-three, .margin-three-left {
  margin-left: 3em;
}

.margin-three, .margin-three-right {
  margin-right: 3em;
}

.margin-four, .margin-four-left {
  margin-left: 4em;
}

.margin-four, .margin-four-right {
  margin-right: 4em;
}

.linear {
  display: inline-block;
}

.nospace-ul {
  margin-left: -35px;
}

.fill-gray {
  background-color: rgba(0, 0, 0, 0.1);
}

.fill-black {
  background-color: black;
}

.fill-green {
  background-color: #344f1e !important;
}

.fill-medium-blue {
  background-color: #55acee;
}

.lightgray {
  color: #cccccc;
}

.mediumgray {
  color: #999999;
}

.darkgray {
  color: #666666;
}

.extradarkgray {
  color: #333333;
}

body {
  font-family: 'Merriweather Sans', 'Lato', sans-serif;
  min-width: 240px;
  font-size: 1.4em;
  line-height: 1.6em;
  font-weight: 300;
}

.logo {
  display: inline-block;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 3px 0 3px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', 'Lato', sans-serif;
}

p {
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.img-wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.img-wrapper > img {
  width: 100%;
}

.post {
  margin-bottom: 30px;
}

.post-content {
  background-color: #FFF;
  word-wrap: break-word;
  border: 1px solid #EFEFEF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 5px;
}
.post-content h2 > a {
  font-weight: normal;
  color: #333333;
  font-size: 0.8em;
  line-height: 150%;
}
.post-content p.tiny > a {
  color: #666666;
}
.post-content img {
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: auto;
  width: 100%;
}
.post-content img.small-img {
  max-height: 300px;
  width: auto;
}

.post-date {
  margin-top: 28px;
  margin-right: 10px;
  margin-left: -15px;
  font-size: 12px;
  color: #666666;
  line-height: 150%;
  padding: 0;
  text-align: center;
  width: 100px;
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
}

a.read-more {
  background-color: #2EAC9D;
  padding: 2px 10px;
  color: #FFF;
  float: right;
}

a.read-more:hover {
  text-decoration: none;
}

.gray {
  color: #999999;
}

.push-one-top {
  padding-top: 1em;
}

.push-two-top {
  padding-top: 2em;
}

#about h1 {
  display: inline-block;
}
#about h4 {
  line-height: 150%;
}
#about #pronounce {
  display: inline-block;
}

#photography li, #art li {
  margin-bottom: 15px;
}

#css li {
  margin-bottom: 50px;
}
#css li iframe {
  border: 15px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.tags {
  padding: 10px;
  line-height: 130%;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.list-silent ol, .list-silent ul {
  margin-left: 0;
  padding-left: 0;
}
.list-silent li {
  list-style-type: none;
}

footer {
  clear: both;
}
footer .topline {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;
}

.video-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto auto 0;
  background: #CCC;
}

.h_iframe {
  position: relative;
}

.h_iframe .ratio {
  display: block;
  width: 100%;
  height: auto;
}

.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pagination {
  margin: 0;
}

li.page {
  list-style-type: none;
  float: left;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
}

.border-light-one {
  border: 1em solid rgba(0, 0, 0, 0.1);
}

.border-light-half {
  border: 0.5em solid rgba(0, 0, 0, 0.1);
}

.space-one-top {
  margin-top: 1em;
}

.space-one-bottom {
  margin-bottom: 1em;
}

.space-one {
  margin-top: 1em;
  margin-bottom: 1em;
}

.sq-box-left, .sq-box-right {
  height: 100%;
  width: 50%;
  float: left;
  display: block;
}

.color-pallette {
  width: 100%;
  height: 75px;
}

html, body, .page-content, .page-content section {
  height: 90%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #FFF;
  z-index: 999;
}

.prose-type {
  font-family: 'Julius Sans One', sans-serif;
}

.navbar {
  margin-bottom: 0;
}

section {
  background-attachment: fixed;
}

#section1 {
  background-color: #FFF;
  height: auto;
}

#section2 {
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-position: bottom center;
  position: relative;
  background-repeat: no-repeat;
}

#section3 {
  height: auto;
}

#section4 {
  color: #FFF;
  height: auto;
}

.navbar-default {
  background-color: #FFFFFF;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #000000;
}
