.blogpost {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    @media (min-width: 768px) {
        flex-direction: row;
        margin-bottom: 0;
    }
    &__time {
        width: 8em;
        font-size: 0.8em;
        @media (min-width: 768px) {
            font-size: 1em;
        }
    }
    &__pagination {
        padding: 2em 0;
        display: flex;
        justify-content: space-between;
        &__nav {
            border: 0.1em solid transparent;
            padding: 0.3em 1em;
            border-radius: 2em;
            display: block;
            &--left + &--right {
                margin-left: 1em;
            }
        }
    }
}
