---
layout: default
title: 'Works | imagineer'
active: works
---

<div class="full-width p-1-top">
    <h1 class="page__heading">Design Works</h1>
</div>
<div class="work-list centered">
    <article role="article">
        <div class="work-design-cards">
            {% for work in site.works %}
                <div class="work-design-card__container">
                    <div class="work-design-card">
                        <a
                            class="work-design-card__link"
                            href="{{ work.url }}"
                        >
                            <div class="work-design-card__graphic" style="background: {{ work.theme }};">
                                <img src="{{ work.graphic.url }}" alt="{{ work.title }} {{ work.subtitle }}">
                            </div>
                        </a>
                        <div class="work-design-card__content">
                            <h3 class="work-design-card__title">{{ work.title }} {{ work.subtitle }}</h3>
                            <p>{{ work.intro }}</p>
                            <div class="work-design-card__scopes">
                                {% for s in work.scope %}
                                    <div class="work-design-card__scope">{{ s }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </article>
</div>
