/* line 1, ../sass/app.sass */
body {
  background-color: #efefef;
}

/* line 4, ../sass/app.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

/* line 7, ../sass/app.sass */
hr {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid white;
}

/* line 11, ../sass/app.sass */
.navbar-brand > small {
  font-size: 0.75em;
  line-height: 1em;
  margin-left: 10px;
}

/* line 16, ../sass/app.sass */
.navbar-right > li:nth-child(4) > a:hover {
  background-color: #69d2e7;
}

/* line 19, ../sass/app.sass */
.navbar-inverse {
  background-color: #080808;
}

/* line 22, ../sass/app.sass */
.content {
  padding-top: 40px;
}

/* line 25, ../sass/app.sass */
.center-container {
  background: #2e5f3e;
  color: #4fa46b;
  width: 100%;
  min-height: 600px;
  clear: both;
  position: relative;
}

/* line 33, ../sass/app.sass */
.center-block {
  background: #4fa46b;
  color: white;
}

/* line 37, ../sass/app.sass */
.absolute-center {
  width: 320px;
  height: 80px;
  min-width: 200px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 49, ../sass/app.sass */
.codepen h3 {
  padding-bottom: 20px;
  padding-top: 10px;
}
/* line 52, ../sass/app.sass */
.codepen p {
  padding-top: 10px;
  margin-bottom: 50px;
}

/* line 56, ../sass/app.sass */
.craft-steps p {
  height: 150px;
}
