$list__bullet-width-ol: 1.2em;
$list__bullet-width-ul: 1.2em;
$list__bullet-padding-ol: 0.5em;
$list__bullet-padding-ul: 0.2em;
$list__bullet-size: 0.4em;
$post-padding: 25%;

.post {
    ol, ul {
        line-height: 1.5;
        margin-left: 1.3em;
    }
    ul {
        list-style-type: square;
    }
}
