$content-width: 56%;

html {
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    min-height: 100%;
}
.content-wrapper {
    margin: 0 auto;
    padding-bottom: $footer-height;
}

.wrapper {
    width: 90%;
    margin: auto;
}
@media (min-width: 768px) {
    .wrapper {
        width: $content-width;
    }
}
