$content-width: 40em;

html {
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    min-height: 100%;
    background: $color__bg-silver;
}
.content-wrapper {
    margin: 0 auto;
    background: $color__bg-silver;
    padding-bottom: $footer-height;
}

.main-container {
    width: 90%;
    margin: auto;
}
@media (min-width: 768px) {
    .main-container {
        width: $content-width;
    }
}

.page__heading {
    font-family: $title-font;
    text-align: center;
    padding-top: 1.6em;
    padding-bottom: 1.5em;
    margin: 0;
}

.page__sub-heading {
    font-family: $title-font;
    text-align: center;
    padding-bottom: 1.5em;
    margin: 0;
    font-size: 1.3em;
    color: lighten($color__text-dark, 10%);
}
