$color__footer: $color__text-lightgray;
$footer-height: 4.6em;

.footer {
    overflow: hidden;
    height: $footer-height;
    margin-top: -$footer-height;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid $color__border-lightgrey;
    background: white;
    color: $color__footer;
    text-align: center;
    &__copyright {
        font-family: $label-type;
        font-size: 0.75em;
    }
}
