$header-height: 10em;

.header {
    position: relative;
    z-index: 1;
    &__site {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 4em 0 0;
        @media (min-width: 768px) {
            flex-direction: row;
            padding: 0 4em;
            height: $header-height;
        }
    }
}

.sitelogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__img {
        height: 4em;
        margin-bottom: 3em;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
        img {
            height: 100%;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        padding-left: 1em;
    }
    &__title {
        letter-spacing: 0.05em;
        font-size: 2em;
        line-height: 1.5;
        font-weight: bold;
        font-family: $title-font;
        margin: 0;
    }
    &__tagline {
        margin: 0;
        font-size: 1em;
    }
}


.sitenav {
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
        display: flex;
        align-items: center;
        font-size: 0.85em;
        margin: 0 1em;
        font-family: $label-type;
        letter-spacing: 0.14em;
        line-height: 0.5;
        border-bottom: 0.6em solid transparent;
        &--active {
            border-bottom: 0.6em solid transparent;
        }
    }
}
