$color__header-bg: $color__silver;
$color__nav-link: $color__gray;
$header-height: 6em;

.header {
    position: relative;
    z-index: 1;
    &__site {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $color__bg-silver;
        padding: 0 $header-height / 3;
        @media (min-width: 768px) {
            flex-direction: row;
        }
    }
}

.sitelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $header-height;
    @media (min-width: 768px) {
        justify-content: flex-start;
    }
    &__title {
        font-family: $label-type;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-size: 1.1em;
        margin: 0;
        padding:
            $header-height / 30
            $header-height / 50
            $header-height / 50
            $header-height / 10;
        color: $color__bg-silver;
        border: 1px solid $color__bg-silver;
        background: $color__bg-logo;
        box-shadow: 0 0 0 3px $color__bg-logo;
    }
}


.sitenav {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
        justify-content: flex-end;
    }
    &__link {
        color: $color__text-sitenav;
        text-transform: uppercase;
        font-size: 0.8em;
        margin: 0 1em;
        display: inline-block;
        font-family: $label-type;
        letter-spacing: 0.14em;
    }
}
