$color__header-bg: white;
$color__nav-link: $color__gray;
$color__nav-link-active: $color__bg--post-link;
$header-height: 6em;

.header {
    position: relative;
    z-index: 1;
    &__site {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $color__header-bg;
        padding: 0 $header-height / 3;
        border-bottom: 1px solid $color__border-lightgrey;
    }
}

.sitelogo {
    &__title {
        font-family: $label-type;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-size: 1.1em;
        margin: 0;
        padding:
            $header-height / 30
            $header-height / 50
            $header-height / 50
            $header-height / 10;
        color: $color__bg-silver;
        border: 1px solid $color__bg-silver;
        background: $color__bg-logo;
        box-shadow: 0 0 0 3px $color__bg-logo;
    }
    &__svg {
        display: block;
        width: 10em;
        margin: 1em 0 0.3em;
        svg {
            width: 100%;
        }
    }
}


.sitenav {
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
        color: $color__text-sitenav;
        text-transform: uppercase;
        font-size: 0.8em;
        margin: 0 1em;
        padding: 0.5em 0 0.3em;
        display: inline-block;
        font-family: $label-type;
        letter-spacing: 0.14em;
        border-bottom: 0.25em solid transparent;
        &--active {
            border-bottom: 0.25em solid $color__nav-link-active;
        }
    }
}
