.arrow-navigation {
    font-size: 2em;
    position: fixed;
    bottom: 1em;
    left: 1em;
    right: 1em;
    z-index: 2;
    @media (max-width: 768px) {
        display: none;
    }
    a {
        display: inline-block;
        padding-left: 0.1em;
        padding-right: 0.1em;
        color: $color__gray;
        &:first-child {
            border-top-left-radius: 0.5em;
            border-bottom-left-radius: 0.5em;
            float: left;
        }
        &:last-child {
            border-top-right-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
            float: right;
        }
    }
}


.pagination {
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    &__nav {
        border: 0.1em solid $color__gray;
        color: $color__gray;
        padding: 0.3em 1em;
        border-radius: 2em;
        display: block;
        &:hover {
            background-color: $color__secondary;
            color: white;
            border-color: $color__secondary;
        }
        &--left + &--right {
            margin-left: 1em;
        }
    }
}
