@for $i from 0 through 8 {
    .space-#{$i}, .space-#{$i}-top {
        margin-top: #{$i}em;
    }
    .space-#{$i}, .space-#{$i}-bottom {
        margin-bottom: #{$i}em;
    }
    .push-#{$i}, .push-#{$i}-top {
        padding-top: #{$i}em;
    }
    .push-#{$i}, .push-#{$i}-bottom {
        padding-bottom: #{$i}em;
    }
    .gap-#{$i}, .gap-#{$i}-left {
        margin-left: #{$i}em;
    }
    .gap-#{$i}, .gap-#{$i}-right {
        margin-right: #{$i}em;
    }
    .pad-#{$i}, .pad-#{$i}-left {
        padding-left: #{$i}em;
    }
    .pad-#{$i}, .pad-#{$i}-right {
        padding-right: #{$i}em;
    }
}

$extra-spacing-list: (
    'no': 0,
    'q': 0.25,
    'h': 0.5,
    '3q': 0.75,
    '1h': 1.5,
    '2h': 2.5
);
@each $name, $value in $extra-spacing-list {
    .space-#{$name}, .space-#{$name}-top {
        margin-top: #{$value}em;
    }
    .space-#{$name}, .space-#{$name}-bottom {
        margin-bottom: #{$value}em;
    }
    .push-#{$name}, .push-#{$name}-top {
        padding-top: #{$value}em;
    }
    .push-#{$name}, .push-#{$name}-bottom {
        padding-bottom: #{$value}em;
    }
    .gap-#{$name}, .gap-#{$name}-left {
        margin-left: #{$value}em;
    }
    .gap-#{$name}, .gap-#{$name}-right {
        margin-right: #{$value}em;
    }
    .pad-#{$name}, .pad-#{$name}-left {
        padding-left: #{$value}em;
    }
    .pad-#{$name}, .pad-#{$name}-right {
        padding-right: #{$value}em;
    }
}
