$home__sidebar-width: 18em;

.banner {
    text-align: center;
    &__image {
        width: $content-width;
        margin-bottom: -0.5em;
        @media (min-width: 768px) {
            width: 25em;
        }
    }
}
