$article-width: $content-width;
$post-padding: 25%;

.post {
    width: 100%;
    margin: auto;
    font-weight: 300;
    line-height: 1.7;
    padding: 2em 0 4em;

    &__content {
        font-size: 1em;
        line-height: 1.54;
        margin-left: 2em;
        margin-right: 2em;

        @media (min-width: 768px) {
            & > * {
                padding-left: $post-padding;
                padding-right: $post-padding;
            }
            & > .highlighter-rouge, & > table, & > .post__index {
                margin-left: $post-padding;
                margin-right: $post-padding;
            }
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        &--align-center {
            align-items: center;
        }
        &--right {
            padding-right: 0;
        }
        &--2 {
            .post__block__side {
                @media (min-width: 768px) {
                    width: 35%;
                }
            }
        }
    }

    &__intro {
        min-height: 30em;
        margin: auto;
        text-align: center;
        position: relative;
        display: flex;
        align-items: stretch;
        @media (min-width: 768px) {
            text-align: left;
        }
    }
    &__header {
        padding: 4em 1em;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        &__left, &__right {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            .post__navigation__link {
                font-size: 2em;
            }
        }
        &__right {
            margin-left: auto;
        }
    }
    &__heading {
        margin: 0;
        font-size: 2em;
        line-height: 1.2;
        font-family: $title-font;
        font-weight: 800;
        @media (min-width: 768px) {
            font-size: 3.8em;
        }
    }
    &__date {
        display: block;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 0.15em;
        opacity: 0.7;
        font-family: $label-type;
        margin-bottom: 1.3em;
    }
    &__blurb {
        font-family: $annotation-type;
        font-size: 1.2em;
        padding-top: 2em;
        opacity: 0.9;
        text-align: center;
        @media (min-width: 768px) {
            text-align: left;
            width: 25%;
        }
    }
    &__tags {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        list-style-type: none;
        &__icon {
            margin-right: 0.5em;
        }
        &__list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
    &__tag {
        display: inline-block;
        border: 0.1em solid transparent;
        font-family: $alt-heading-type;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0.3em 0.3em 0.3em 0;
        a {
            display: block;
            font-size: 0.7em;
            line-height: 1;
            padding: 0.3em 0.4em 0.2em;
            letter-spacing: 0.05em;
        }
    }

    &__index {
        border: 0.1em solid transparent;
        padding: 1em 3em !important;
    }

    &__social {
        padding-left: 2em;
        padding-right: 2em;
        @media (min-width: 768px) {
            padding-left: $post-padding;
            padding-right: $post-padding;
        }
    }

    &__navigation {
        &--top {
            padding-top: 2em;
        }
        &--bottom {
            font-size: 2em;
            z-index: 2;
            overflow: hidden;
            padding: 0 1em 2em;
        }
        &__link {
            display: inline-block;
            padding: 0.5em;
            &:first-child {
                float: left;
            }
            &:last-child {
                float: right;
            }
        }
    }
}
