.post {
    article[role="article"] {
        font-size: $article__font;
        line-height: $article__line-height;
        img {
            width: 100%;
        }
        p {
            padding-bottom: 1em;
        }
        h1, h2, h3, h4, h5, h6, table {
            margin: 0.5em 0 0.2em;
        }
    }
}
