.work {
    &__item {
        margin-bottom: 3em;
        padding: 1em;
        border: 0.1em solid rgba($color__secondary, 0.3);
        background-color: rgba($color__secondary, 0.05);
        time {
            text-transform: uppercase;
            font-size: 0.8em;
            color: $color__archive-time;
            padding-bottom: 0.8em;
            display: block;
        }
    }
    &__category {
        background-color:$color__work-category-bg;
        color:$color__work-category-text;
        text-align: center;
        margin-bottom: 1em;
    }
}
