$btn__base-radius: 0.3em;
$btn__base-padding: 0.5em 1em;

%btn--base {
    padding: $btn__base-padding;
    border-radius: $btn__base-radius;
    display: inline-block;
}
%btn--primary {
    @extend %btn--base;
    color: $color__btn-primary-text;
    background-color: $color__btn-primary-bg;
    &:hover, &:focus, &:active, &.active {
        color: white;
        background-color: $color__btn-primary-bg-alt;
    }
}
%btn--secondary {
    @extend %btn--base;
    color: $color__btn-primary-text;
    background-color: $color__secondary;
    &:hover, &:focus, &:active, &.active {
        color: white;
        background-color: darken($color__secondary, 5%);
    }
}
%btn--tweet {
    @extend %btn--base;
    color: $color__btn-tweet-text;
    background-color: $color__btn-tweet-bg;
    &:hover, &:focus, &:active, &.active {
        color: white;
        background-color: $color__btn-tweet-bg-alt;
    }
}
.btn-theme {
    @extend %btn--secondary;
}
.btn-tweet {
    @extend %btn--tweet;
}
