code.highlighter-rouge {
    font-family: $font-stack__code;
    background-color: $color__silver;
    border-radius: 0.2em;
    padding: 0 0.2em;
}
div.highlighter-rouge {
    // display: block;
    font-family: $font-stack__code;
    padding: $btn__code-padding;
    border-radius: $btn__code-radius;
    background: #272822;
    color: #f8f8f2;
    overflow-x: auto;
    margin-bottom: 1em;
    .hll {
        background-color: #49483e;
    }
    /* Comment */
    .c {
        color: #75715e;
    }
    /* Error */
    .err {
        color: #960050;
        background-color: #1e0010;
    }
    /* Keyword */
    .k {
        color: #66d9ef;
    }
    /* Literal */
    .l {
        color: #ae81ff;
    }
    /* Name */
    .n {
        color: #f8f8f2;
    }
    /* Operator */
    .o {
        color: #f92672;
    }
    /* Punctuation */
    .p {
        color: #f8f8f2;
    }
    /* Comment.Multiline */
    /* Comment.Preproc */
    /* Comment.Single */
    /* Comment.Special */
    .cm, .cp, .c1, .cs {
        color: #75715e;
    }
    /* Generic.Emph */
    .ge {
        font-style: italic;
    }
    /* Generic.Strong */
    .gs {
        font-weight: bold;
    }
    /* Keyword.Constant */
    /* Keyword.Declaration */
    .kc, .kd {
        color: #66d9ef;
    }
    /* Keyword.Namespace */
    .kn {
        color: #f92672;
    }
    /* Keyword.Pseudo */
    /* Keyword.Reserved */
    /* Keyword.Type */
    .kp, .kr, .kt {
        color: #66d9ef;
    }
    /* Literal.Date */
    .ld {
        color: #e6db74;
    }
    /* Literal.Number */
    .m {
        color: #ae81ff;
    }
    /* Literal.String */
    .s {
        color: #e6db74;
    }
    /* Name.Attribute */
    .na {
        color: #a6e22e;
    }
    /* Name.Builtin */
    .nb {
        color: #f8f8f2;
    }
    /* Name.Class */
    .nc {
        color: #a6e22e;
    }
    /* Name.Constant */
    .no {
        color: #66d9ef;
    }
    /* Name.Decorator */
    .nd {
        color: #a6e22e;
    }
    /* Name.Entity */
    .ni {
        color: #f8f8f2;
    }
    /* Name.Exception */
    /* Name.Function */
    .ne, .nf {
        color: #a6e22e;
    }
    /* Name.Label */
    /* Name.Namespace */
    .nl, .nn {
        color: #f8f8f2;
    }
    /* Name.Other */
    .nx {
        color: #a6e22e;
    }
    /* Name.Property */
    .py {
        color: #f8f8f2;
    }
    /* Name.Tag */
    .nt {
        color: #f92672;
    }
    /* Name.Variable */
    .nv {
        color: #f8f8f2;
    }
    /* Operator.Word */
    .ow {
        color: #f92672;
    }
    /* Text.Whitespace */
    .w {
        color: #f8f8f2;
    }
    /* Literal.Number.Float */
    /* Literal.Number.Hex */
    /* Literal.Number.Integer */
    /* Literal.Number.Oct */
    .mf, .mh, .mi, .mo {
        color: #ae81ff;
    }
    /* Literal.String.Backtick */
    /* Literal.String.Char */
    /* Literal.String.Doc */
    /* Literal.String.Double */
    .sb, .sc, .sd, .s2 {
        color: #e6db74;
    }
    /* Literal.String.Escape */
    .se {
        color: #ae81ff;
    }
    /* Literal.String.Heredoc */
    /* Literal.String.Interpol */
    /* Literal.String.Other */
    /* Literal.String.Regex */
    /* Literal.String.Single */
    /* Literal.String.Symbol */
    .sh, .si, .sx, .sr, .s1, .ss {
        color: #e6db74;
    }
    /* Name.Builtin.Pseudo */
    /* Name.Variable.Class */
    /* Name.Variable.Global */
    /* Name.Variable.Instance */
    .bp, .vc, .vg, .vi {
        color: #f8f8f2;
    }
    /* Literal.Number.Integer.Long */
    .il {
        color: #ae81ff;
    }
}
