table {
    border-collapse: collapse;
    table-layout: fixed;
    background-color: lighten($color__silver, 2%);
    th {
        background-color: $color__table-head-bg;
        color: $color__table-head-text;
    }
    thead tr {
        color: $color__table-head-bg;
    }
    &, td {
        border: 1px solid $color__table-border;
    }
    th, td {
        padding: $table-padding;
        vertical-align: middle;
    }
    td > img {
        width: 100%;
    }
    &.table-striped tbody {
        tr:nth-child(2n+1) {
            background-color: $color__table-stripe;
        }
    }
    td pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}
.table {
    &__size {
        &--small {
            font-size: 0.8em;
        }
    }
}
