.table {
    display: table;
    .cell {
        display: table-cell;
    }
}

.clearall {
    clear: both;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.flushright {
    float: right;
}
.centered {
    margin: auto;
}

.contain-width, .full-width {
    width: 100%;
}
.contain-height {
    height: 100%;
}
.overflowhidden {
    overflow: hidden;
}

.inlineblock {
    display: inline-block;
}
.block {
    display: block;
}

.all-caps {
    text-transform: uppercase;
}
.highlight {
    padding: $btn__code-padding;
    border-radius: $btn__code-radius;
}

.wrapper {
    width: 60%;
    margin: auto;
}

.profile {
    img {
        border-radius: 50%;
        width: 6em;
    }
}

