.table {
    display: table;
    .cell {
        display: table-cell;
    }
}

.clearall {
    clear: both;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.flushright {
    float: right;
}
.centered {
    margin: auto;
}

.contain-width, .full-width {
    width: 100%;
}
.contain-height {
    height: 100%;
}
.overflowhidden {
    overflow: hidden;
}

.inlineblock {
    display: inline-block;
}
.block {
    display: block;
}

.all-caps {
    text-transform: uppercase;
}
.highlight {
    padding: $btn__code-padding;
    border-radius: $btn__code-radius;
}

.wrapper {
    width: 60%;
    margin: auto;
}

.profile {
    img {
        border-radius: 50%;
        width: 6em;
    }
}

.video-wrapper   {width:100%;height:100%;margin:0 auto auto 0;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

figcaption {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    color: #7f929c;
    margin-bottom: 2em;
    margin-top: 0.25em;
}

blockquote {
    font-style: italic;
    border-left: 0.5em solid $color__primary;
    padding-left: 1.2em;
    margin: 0.8em 0 2em;
}
