<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/normalize.css">
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <script type="text/javascript" src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="icon-angle-left"></i>&nbsp;<i class="icon-angle-right"></i>&nbsp;{{ site.name }}&nbsp;<small><em>{{ site.blurb }}</em></small></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse clearfix" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Blog</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Experiments <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">CSS</a></li>
              <li><a href="#">Javascript</a></li>
              <li class="divider"></li>
              <li><a href="#">Photography</a></li>
              <li><a href="#">Art</a></li>
              <li><a href="#">Craft</a></li>
            </ul>
          </li>
          <li><a href="#">About</a></li>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div class="clearfix content">
        <div class="site">
          {{ content }}
        </div> 
    </div>        
    <script type="text/javascript" src="/assets/js/vendor/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/bootstrap.min.js"></script>
  </body>
</html>
