---
layout: default
title: 'imagineer'
active: home
---

<main class="home" role="main">
    <div class="home__masthead">

        <!-- intro -->
        <section class="home__intro intro p-3-top p-3-bottom p-3-h">
            <h3 class="intro__title handwriting-type p-q-bottom">imagineering the web</h3>
            <div class="intro__desc">Hi there, I'm Praseetha, a Software Engineer specialized in web application development. This website contains my notes on programming, design, experiences and other musings.</div>
        </section>
    </div>
    <!-- posts -->
    <section class="home__postcards p-6-top p-4-bottom">
        <h2 class="text-center m-1h-bottom">Recent Posts</h2>
        <ul class="postcards" role="list" >
            {% for post in site.posts limit:6 %}
                {% if post.status != 'draft' %}
                    <li class="postcards__item">
                        <a
                            class="postcard"
                            role="listtitem"
                            href="{{ post.url }}"
                        >
                            <div class="postcard__content">
                                <div class="postcard__graphic">
                                    <img src="{{ post.graphic.url }}" alt="">
                                </div>

                                <div class="postcard__bottom">
                                    <h3 class="postcard__title">{{ post.title }}</h3>
                                    <div class="postcard__summary">{{ post.blurb | strip_html | escape }}</div>
                                    <div class="postcard__tags">
                                        {% for tag in post.tags %}
                                            <span class="postcard__tag">#{{ tag }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <section class="postcards__more">
            <a class="postcards__more__btn" href="/blog">
                <span>More posts</span>
                <i class="fa fa-long-arrow-right"></i>
            </a>
        </section>
    </section>

    <section class="home__design-works">
        <div class="home__design-work__list">
            {% for work in site.works limit:6 %}
                <div class="work-design-card__container">
                    <div class="work-design-card">
                        <a
                            class="work-design-card__link"
                            href="{{ work.url }}"
                        >
                            <div class="work-design-card__graphic" style="background: {{ work.theme }};">
                                <img src="{{ work.graphic.url }}" alt="{{ work.title }} {{ work.subtitle }}">
                            </div>
                        </a>
                        <div class="work-design-card__content">
                            <h3 class="work-design-card__title">{{ work.title }} {{ work.subtitle }}</h3>
                            <div class="work-design-card__desc">{{ work.intro }}</div>
                            <div class="work-design-card__scopes">
                                {% for s in work.scope %}
                                    <div class="work-design-card__scope">{{ s }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <section class="postcards__more">
            <a class="postcards__more__btn" href="/works">
                <span>More design works</span>
                <i class="fa fa-long-arrow-right"></i>
            </a>
        </section>
    </section>

    <section class="text-center masthead">
        <img class="masthead__image" src="/assets/img/imagineer-2019.svg" alt="imagineering the web!">
    </section>

</main>
