body {
    background-color: $color__body-bg;
    color: $color__body-text;
}

a {
    color: $color__link;
    &:hover, &:focus, &:active {
        color: $color__link-active;
    }
}

.primary {
    color: $color__primary;
}
.dark {
    color: $color__body-text;
}
.light {
    color: $color__silver;
}
