$off-white: #FAF9F2;
$bodycolor: #555;
$bodyfill: #FFF;
$gray: #999;
$theme-dark: #493658;
$theme-light: #B0D6AC;
$extra-dark-gray: #333333;
$dark-gray: #666666;
$medium-gray: #999999;
$light-gray: #EFEFEF;
$orange: #DA623F;
$white: #FFFFFF;
$black-transparent-1: rgba(0,0,0,0.1);
$green: #2EAC9D;
$lightgreen: #8DCCAD;
$blue: #286A99;
$lightblue: #7DDBEC;
$darkblue: #1696AD;
$pink: #FF1466;
$pink-alt: #D10E4F;


$theme-bg: #F1F6F6;
$yellow: #DDE39B;
$theme-primary-alt: #C6CB8B;
$theme-secondary: #3D6E91;
$theme-secondary-alt: #03BEE7;
$header-bg: #EAEBEC;

$white: #F7F6FC;
$white-alt: #DDDCE2;
