$theme-dark: #493658;
$theme-light: #B0D6AC;
$extra-dark-gray: #333333;
$dark-gray: #666666;
$medium-gray: #999999;
$light-gray: #CCCCCC;
$extra-light-gray: #EEEEEE;
$orange: #DA623F;
$white: #FFFFFF;
$black: #000000;
$black-transparent-1: rgba(0,0,0,0.1);

$sky-blue: #55ACEE;

$green: #344F1E;