$body-bg: #FFFFFF;
$primary: #333;
$secondary: #B781B7;
$dark: #637379;
$mediumgray: #788796;
$lightgray: #E6E6E6;

$twitter: #55ACEE;
$github: #333333;
$rss: #f72;


$color__paragraph: #4C424C;
$color__active: #D49BC8;
//$color__post-title: #1BB0CE;
$color__post-title: #B781B7;
$color__link: #BD8BB3;

$bg_banner: #333;

$color__primary: #B781B7;
$color__primary-dark: #9E669E;
$color__secondary: #00BCD4;
$color__tertiary: #8BC34A;
$color__silver: #F3F3F3;

$color__link: $color__primary;
$color__link-active: #D49BC8;
$color__link-hover: $color__primary-dark;
$color__link-underline: #C9C5CC;

$color__table-head-bg: $color__primary;
$color__table-head-text: white;
$color__table-border: #ECDFEC;
$color__table-stripe: #FBF9FB;


$color__blockquote-border: $color__secondary;
$color__blockquote-bg: #ECF7F9;


$color__code-bg: #F3E6F3;
$color__code-text: $color__primary;

$color__btn-secondary-bg: $color__secondary;
$color__btn-secondary-bg-alt: #14CFE6;
$color__btn-secondary-text: white;

$color__page-nav-text: $color__primary;
$color__page-nav-bg: #F7EFF7;
$color__page-nav-bg-hover: #F5E8F5;
$color__page-nav-border: #ECDFEC;

