.push-1q, .push-1q-top 					{ padding-top: 0.25em; }
.push-1q, .push-1q-bottom 			{ padding-bottom: 0.25em; }
.push-half, .push-half-top 			{ padding-top: 0.5em; }
.push-half, .push-half-bottom 	{ padding-bottom: 0.5em; }
.push-3q, .push-3q-top 					{ padding-top: 0.75em; }
.push-3q, .push-3q-bottom 			{ padding-bottom: 0.75em; }
.push-one, .push-one-top 				{ padding-top: 1em; }
.push-one, .push-one-bottom 		{ padding-bottom: 1em; }
.push-line, .push-line-top 			{ padding-top: 1.5em; }
.push-line, .push-line-bottom 	{ padding-bottom: 1.5em; }
.push-two, .push-two-top 				{ padding-top: 2em; }
.push-two, .push-two-bottom 		{ padding-bottom: 2em; }
.push-three, .push-three-top 		{ padding-top: 3em; }
.push-three, .push-three-bottom { padding-bottom: 3em; }
.push-four, .push-four-top 			{ padding-top: 4em; }
.push-four, .push-four-bottom 	{ padding-bottom: 4em; }
.push-six, .push-six-top 				{ padding-top: 6em; }
.push-six, .push-six-bottom 		{ padding-bottom: 6em; }
.push-eight, .push-eight-top 		{ padding-top: 8em; }
.push-eight, .push-eight-bottom { padding-bottom: 8em; }

.space-1q, .space-1q-top 					{ margin-top: 0.25em; }
.space-1q, .space-1q-bottom 			{ margin-bottom: 0.25em; }
.space-half, .space-half-top 			{ margin-top: 0.5em; }
.space-half, .space-half-bottom 	{ margin-bottom: 0.5em; }
.space-3q, .space-3q-top 					{ margin-top: 0.75em; }
.space-3q, .space-3q-bottom 			{ margin-bottom: 0.75em; }
.space-one, .space-one-top 				{ margin-top: 1em; }
.space-one, .space-one-bottom 		{ margin-bottom: 1em; }
.space-line, .space-line-top 			{ margin-top: 1.5em; }
.space-line, .space-line-bottom 	{ margin-bottom: 1.5em; }
.space-two, .space-two-top 				{ margin-top: 2em; }
.space-two, .space-two-bottom 		{ margin-bottom: 2em; }
.space-three, .space-three-top 		{ margin-top: 3em; }
.space-three, .space-three-bottom { margin-bottom: 3em; }
.space-four, .space-four-top 			{ margin-top: 4em; }
.space-four, .space-four-bottom 	{ margin-bottom: 4em; }
.space-six, .space-six-top 				{ margin-top: 6em; }
.space-six, .space-six-bottom 		{ margin-bottom: 6em; }
.space-eight, .space-eight-top 		{ margin-top: 8em; }
.space-eight, .space-eight-bottom { margin-bottom: 8em; }

.pad-1q, .pad-1q-left 					{ padding-left: 0.25em; }
.pad-1q, .pad-1q-right 					{ padding-right: 0.25em; }
.pad-half, .pad-half-left 			{ padding-left: 0.5em; }
.pad-half, .pad-half-right 			{ padding-right: 0.5em; }
.pad-3q, .pad-3q-left 					{ padding-left: 0.75em; }
.pad-3q, .pad-3q-right 					{ padding-right: 0.75em; }
.pad-one, .pad-one-left 				{ padding-left: 1em; }
.pad-one, .pad-one-right 				{ padding-right: 1em; }
.pad-line, .pad-line-left 			{ padding-left: 1.5em; }
.pad-line, .pad-line-right 			{ padding-right: 1.5em; }
.pad-two, .pad-two-left 				{ padding-left: 2em; }
.pad-two, .pad-two-right 				{ padding-right: 2em; }
.pad-three, .pad-three-left 		{ padding-left: 3em; }
.pad-three, .pad-three-right 		{ padding-right: 3em; }
.pad-four, .pad-four-left 			{ padding-left: 4em; }
.pad-four, .pad-four-right 			{ padding-right: 4em; }

.margin-1q, .margin-1q-left 					{ margin-left: 0.25em; }
.margin-1q, .margin-1q-right 					{ margin-right: 0.25em; }
.margin-half, .margin-half-left 			{ margin-left: 0.5em; }
.margin-half, .margin-half-right 			{ margin-right: 0.5em; }
.margin-3q, .margin-3q-left 					{ margin-left: 0.75em; }
.margin-3q, .margin-3q-right 					{ margin-right: 0.75em; }
.margin-one, .margin-one-left 				{ margin-left: 1em; }
.margin-one, .margin-one-right 				{ margin-right: 1em; }
.margin-line, .margin-line-left 			{ margin-left: 1.5em; }
.margin-line, .margin-line-right 			{ margin-right: 1.5em; }
.margin-two, .margin-two-left 				{ margin-left: 2em; }
.margin-two, .margin-two-right 				{ margin-right: 2em; }
.margin-three, .margin-three-left 		{ margin-left: 3em; }
.margin-three, .margin-three-right 		{ margin-right: 3em; }
.margin-four, .margin-four-left 			{ margin-left: 4em; }
.margin-four, .margin-four-right 			{ margin-right: 4em; }

.linear{
	display: inline-block;
}
.nospace-ul{
	margin-left: -35px;
}
.full-width{
	width: 100%;
}


