.dark {
    color: $dark;
}
.primary {
    color: $primary;
}
.secondary {
    color: $secondary;
}
.fill-white {
    background-color: white;
}

.css-table {
    border-collapse: collapse;
    font-size: 80%;
    &, td {
        border-color: #E4E2E2;
    }
    code {
        background: transparent;
        color: $dark;
    }
    .fill-key {
        background-color: #FFFFFF;
        color: #D2427C;
    }
    .fill-desc {
        background-color: #FBFAFA;
    }
    .fill-val {
        background-color: whitesmoke;
        color: #D2427C;
    }
    .fill-remark {
        background-color: #EFEEEE;
    }
    .fill-eg {
        background-color: #ECEAEA;
    }
}
