.green{
	color: $green;
}
.orange{
	color: $orange;
}
.fill-green{
	background-color: $green;
	color: $white;
}
.fill-blue{
	background-color: $blue;
	color: $white;
}
.dark {
	color: #555;
}
.fill-white {
	background: #FFF;
}