.green{
	color: $green;
}
.orange{
	color: $orange;
}
.fill-green{
	background-color: $green;
	color: $white;
}
.fill-lightblue{
	background-color: $lightblue;
	color: $white;
}
.dark {
	color: #555;
}