.fill-gray{
	background-color: $black-transparent-1;
}
.fill-black{
	background-color: $black;
}
.fill-green{
	background-color: $green !important;
}
.fill-medium-blue{
	background-color: $sky-blue;
}

.lightgray{
	color: $light-gray;
}
.mediumgray{
	color: $medium-gray;
}
.darkgray{
	color: $dark-gray;
}
.extradarkgray{
	color: $extra-dark-gray;
}