.extralarge{
	font-size: 4em;
}
.large{
	font-size: 3em;
}
.legible{
	font-size: 2.3em;
}
.legible-prose{
	font-size: 1.8em;
}
.regular{
	font-size: 1.5em;
}
.tiny{
	font-size: 0.8em;
}
ol, ul {
	font-size: 1.5em;
}