body, code, .post-list h2, .post-content h2 {
    font-family: "La Belle Aurore", serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Just Me Again Down Here", serif;
}
.extralarge{
	font-size: 4em;
}
.large{
	font-size: 3em;
}
.legible{
	font-size: 2.3em;
}
.legible-prose{
	font-size: 1.5em;
}
.regular{
	font-size: 1.2em;
}
.tiny{
	font-size: 0.8em;
}
.link-silent a, a.link-silent {
	text-decoration: none;
}
