@import 'compass';
@import 'colors';
@import 'typography';
@import 'layout';
@import 'themes';

body{
	font-family: Georgia, 'Times New Roman', Times !important;
	min-width: 240px;
	// background-color: #36536C;
	background-color: #EFEDE0;
}
header{
	width: 20%;
	position: fixed;
	z-index: 999;
	a{
		color: $extra-dark-gray;
		text-decoration: none;
	}
	a:hover{
		color: $medium-gray;
		text-decoration: none;
	}
	.navbar-default .navbar-brand{
		color: $white;
	}
	.navbar-default .navbar-nav>li>a {
		color: $extra-dark-gray;
	}
	.navbar-default {
		background-color: $orange;
		border: 0;
		border-radius: 0;
	}
}
@media (max-width: 768px){
	header{
		width: 100%;
		margin-left: -15px;
	}
	.page-content{
		margin-top: 50px;
	}
}
h1,h2,h3,h4,h5,h6{
	font-family: Georgia, 'Times New Roman', Times;
}
p{
	font-size: 16px;
	line-height: 150%;
	color: $extra-dark-gray;
}
.post{
	margin-bottom: 30px;
	// background-color: #FFF;
}
.post-content{
	background-color: #FFF;
	word-wrap: break-word;
	// border-radius: 5px;
	// box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	// -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	// -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	h2>a{
		font-weight: normal;
		color: $extra-dark-gray;
		font-size: 0.8em;
		line-height: 150%;
	}
	p.tiny > a{
		color: $dark-gray;
	}
	img {
		border: 1px solid rgba(0, 0, 0, 0.05);
		height: auto;
		width: 100%;
	}
	img.small-img{
		max-height: 300px;
		width: auto;
	}
}
.post-date{
	margin-top: 28px;
	margin-right: 10px;
	margin-left: -15px;
	font-size: 12px;
	color: $dark-gray;
	line-height: 150%;
	padding: 0;
	text-align: center;
	width: 100px;
	float: left;
	background-color: rgba(0,0,0,0.1);
}
a.read-more{
	background-color: #2EAC9D;
	padding: 2px 10px;
	color: #FFF;
	float: right;
}
a.read-more:hover{
	text-decoration: none;
}

.gray{
	color: $medium-gray;
}
.push-one-top{
	padding-top: 1em;
}
.push-two-top{
	padding-top: 2em;
}

#about{
	h1{
		display: inline-block;
	}
	h4{
		line-height: 150%;
	}
	#pronounce{
		display: inline-block;
	}
}
#photography, #art{
	li{
		margin-bottom: 15px;
	}
}
#css{
	li{
		margin-bottom: 50px;
		iframe{
			border: 15px solid rgba(0,0,0,0.05);
			border-radius: 5px;
		}
	}
}
#post-view{

}

.tags{
	padding: 10px;
	line-height: 130%;
}
.center-block{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.list-silent{
	ol, ul{
		margin-left: 0;
		padding-left: 0;
	}
	li{
		list-style-type: none;
	}
}
footer{
	clear: both;
	margin-top: 50px;
	.topline{
		border-top: 1px solid $black-transparent-1;
		display: block;
		padding-top: 10px;
		padding-bottom: 20px;
	}
}

.video-wrapper   {width:80%;height:100%;margin:0 auto auto 0;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

.pagination{
	margin: 0;
}
li.page{
	list-style-type: none;
	float: left;
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
}


.border-light-one{
  border: 1em solid rgba(0,0,0,0.1);
}
.border-light-half{
  border: 0.5em solid rgba(0,0,0,0.1);
}

.space-one-top{
	margin-top: 1em;
}
.space-one-bottom{
	margin-bottom: 1em;
}
.space-one{
	margin-top: 1em;
	margin-bottom: 1em;
}

.sq-box-left, .sq-box-right{
  height: 100%;
  width: 50%;
  float: left;
  display: block;
}
.color-pallette{
	width: 100%;
	height: 75px;
}
img.full-width{
	width: 100%;
}