@import "compass/css3/box-shadow";
@import 'colors';
@import 'typography';
@import 'layout';
@import 'theme';

body{
	font-family: 'Merriweather Sans', 'Lato', sans-serif;
	min-width: 240px;
	font-size: 1.4em;
	line-height: 1.6em;
	font-weight: 300;
	// background-color: #EFEDE0;
}
.logo{
	display: inline-block;
	color: $white;
	background-color: $black-transparent-1;
	padding: 0 3px 0 3px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Merriweather Sans', 'Lato', sans-serif;
}
p{
	font-size: 16px;
	line-height: 150%;
	color: $extra-dark-gray;
}
.img-wrapper{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.img-wrapper>img{
	width: 100%;
}
.post{
	margin-bottom: 30px;
	// background-color: #FFF;
}
.post-content{
	background-color: #FFF;
	word-wrap: break-word;
	border: 1px solid #EFEFEF;
	// border-radius: 5px;
	@include box-shadow(rgba(0,0,0,0.05) 1px 1px 5px);
	h2>a{
		font-weight: normal;
		color: $extra-dark-gray;
		font-size: 0.8em;
		line-height: 150%;
	}
	p.tiny > a{
		color: $dark-gray;
	}
	img {
		border: 1px solid rgba(0, 0, 0, 0.05);
		height: auto;
		width: 100%;
	}
	img.small-img{
		max-height: 300px;
		width: auto;
	}
}
.post-date{
	margin-top: 0;
	margin-right: 10px;
	margin-left: -15px;
	font-size: 12px;
	color: $dark-gray;
	line-height: 150%;
	padding: 0;
	text-align: center;
	width: 100px;
	float: left;
	background-color: rgba(0,0,0,0.1);
}
@media screen and (min-width:768px){
	.post-date{
		margin-top: 28px;
	}
}
a.read-more{
	background-color: #2EAC9D;
	padding: 2px 10px;
	color: #FFF;
	float: right;
}
a.read-more:hover{
	text-decoration: none;
}

.gray{
	color: $medium-gray;
}
.push-one-top{
	padding-top: 1em;
}
.push-two-top{
	padding-top: 2em;
}

#about{
	h1{
		display: inline-block;
	}
	h4{
		line-height: 150%;
	}
	#pronounce{
		display: inline-block;
	}
}
#photography, #art{
	li{
		margin-bottom: 15px;
	}
}
#css{
	li{
		margin-bottom: 50px;
		iframe{
			border: 15px solid rgba(0,0,0,0.05);
			border-radius: 5px;
		}
	}
}
#post-view{

}

.tags{
	padding: 10px;
	line-height: 130%;
}
.center-block{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.list-silent{
	ol, ul{
		margin-left: 0;
		padding-left: 0;
	}
	li{
		list-style-type: none;
	}
}
footer{
	clear: both;
	.topline{
		border-top: 1px solid $black-transparent-1;
		display: block;
		padding-top: 10px;
		padding-bottom: 20px;
	}
}

.video-wrapper   {width:80%;height:100%;margin:0 auto auto 0;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

.pagination{
	margin: 0;
}
li.page{
	list-style-type: none;
	float: left;
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
}


.border-light-one{
  border: 1em solid rgba(0,0,0,0.1);
}
.border-light-half{
  border: 0.5em solid rgba(0,0,0,0.1);
}

.space-one-top{
	margin-top: 1em;
}
.space-one-bottom{
	margin-bottom: 1em;
}
.space-one{
	margin-top: 1em;
	margin-bottom: 1em;
}

.sq-box-left, .sq-box-right{
  height: 100%;
  width: 50%;
  float: left;
  display: block;
}
.color-pallette{
	width: 100%;
	height: 75px;
}



html, body, .page-content, .page-content section{
	height: 90%;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #FFF;
	z-index: 999;
}
.prose-type{
	font-family: 'Julius Sans One', sans-serif;
}
.navbar{
	margin-bottom: 0;
}
section{
	background-attachment: fixed;
}
#section1{
	background-color: #FFF;
	height: auto;
}
#section2{
	background-image: url(/assets/img/bg.jpg);
	background-size: cover;
	background-position: bottom center;
	position: relative;
	background-repeat: no-repeat;
}
#section3{
	height: auto;
}
#section4{
	color: #FFF;
	height: auto;
}



.navbar-default {
    background-color: #FFFFFF;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #000000;
}
@media screen and (min-width: 768px){
	.navbar-header{
		margin-left: 2em;
	}
	.navbar-collapse{
		margin-right: 2em;
	}
}