@import 'compass';
@import 'colors';
@import 'typography';

body{
	font-family: Georgia, 'Times New Roman', Times !important;
}
header{
	width: 100%;
	margin-bottom: 30px;
	a{
		color: $extra-dark-gray;
		text-decoration: none;
	}
	a:hover{
		color: $medium-gray;
		text-decoration: none;
	}
	nav{
		margin-top: 30px;
		background-color: $light-gray;
		li{
			display: inline-block;
			list-style-type: none;
			padding: 10px 30px 10px 30px;
		}
	}
}
h1,h2,h3,h4,h5,h6{
	font-family: Georgia, 'Times New Roman', Times;
}
p{
	font-size: 16px;
	line-height: 150%;
	color: $extra-dark-gray;
}
.post{
	margin-bottom: 30px;
}
.post-content{
	/*background-color: #ccc;*/
	h2{
		font-weight: normal;
		color: $dark-gray;
		font-size: 1.5em;
		line-height: 150%;
	}
	img {
		border: 1px solid rgba(0, 0, 0, 0.05);
		height: auto;
		max-width: 100%;
		max-height: 250px;
		height: auto;
		width: auto;
	}
}
.post-date{
	margin-top: 28px;
	margin-right: 10px;
	font-size: 12px;
	color: $dark-gray;
	line-height: 150%;
	border-right: 1px solid $medium-gray;
	h6{
		padding: 0;
		margin: 0 10px 2px 0;
	}
}

.gray{
	color: $medium-gray;
}


#about{
	h1{
		display: inline-block;
	}
	h4{
		line-height: 150%;
	}
	#pronounce{
		display: inline-block;
	}
}
#photography, #art{
	li{
		margin-bottom: 15px;
	}
}
#css{
	li{
		margin-bottom: 50px;
		iframe{
			border: 15px solid rgba(0,0,0,0.05);
			border-radius: 5px;
		}
	}
}
#post-view{

}

.tags{
	padding: 10px;
	line-height: 130%;
}
.center-block{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.list-silent{
	ol, ul{
		margin-left: 0;
		padding-left: 0;
	}
	li{
		list-style-type: none;
	}
}
footer{
	clear: both;
	margin-top: 50px;
	.topline{
		border-top: 1px solid $light-gray;
		display: block;
		padding-top: 10px;
		padding-bottom: 20px;
	}
}
