@import 'compass';
@import 'colors';
@import 'typography';
@import 'layout';
@import 'themes';

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	background: $body-bg;
    font-family: 'Source Sans Pro', serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5em;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
	font-size: 1.6em;
}
p{
	font-size: 1em;
    margin: 0 0 1.5em 0;
}
a {
	text-decoration: none;
    color: $primary;
    &:hover {
        color: $secondary;
    }
}

/* new */
.container {
    position: relative;
    width: 90%;
    margin: auto;
}

header[role="banner"] {
    margin-top: 2em;
    h1, h2 {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        font-size: 1.5em;
        font-weight: normal;
        line-height: 1;
    }
    h2 {
        margin-left: 1em;
        a {
            margin: 0 0.1em;
        }
        a:hover {
            & > .fa-twitter {
                color: $twitter;
            }
            & > .fa-github {
                color: $github;
            }
            & > .fa-rss {
                color: $rss;
            }
        }
    }
}
header[role="post-title"] {
    padding: 0 0 2em 0;
    h2 {
        font-family: 'Roboto Condensed', serif;
        font-size: 3em;
        line-height: 1.2em;
    }
    time {
        text-transform: uppercase;
        font-size: 0.8em;
    }
}
.site-nav {
    margin: 1em 0 6em 0;
    a {
        text-transform: uppercase;
        margin-right: 0.5em;
        font-size: 0.8em;
        color: $primary;
        &:hover {
            color: $secondary;
        }
        &.active {
            color: $dark;
        }
    }
}
.content {
    z-index: 2;
    position: relative;
}

div.blog-archives {
   article {
        padding: 1em 0 0 0;
        display: block;
        time, h2 {

        }
        time {
            width: 9em;
            display: inline-block;
            float: left;
            text-transform: uppercase;
            font-size: 0.8em;
        }
        h2 {
            padding: 0 0 0.5em 0;
            margin: 0;
            border-bottom: 1px dotted #CCC;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-family: 'Roboto Condensed', serif;
        }
   }
}
footer {
    text-align: center;
    margin: 5em 0 0 0;
    padding: 1em 0;
    background-color: $primary;
    a {
        color: $dark;
    }
}
ol, ul {
    margin: 0.5em 0 0.5em 2em;
}
article.post-content {
    font-size: 1.1em;
}
.page-nav {
    position: relative;
    a {
        &:first-child {
            float: left;
        }
        &:nth-child(2) {
            float: right;
        }
    }
}
@media screen and (min-width: 50em) {
    .container {
        width: 48em;
    }
    .page-nav {
        position: fixed;
        z-index: 1;
        top: 13.3em;
        width: 54em;
        margin-left: -3em;
    }
}
