@import 'compass';
@import 'colors';
@import 'layout';
@import 'themes';
@import 'typography';
@import 'compass/css3/transform';

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    box-sizing: content-box;
}
body{
	background: $body-bg;
    font-family: 'Merriweather', 'Source Sans Pro', serif;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.5;
}
blockquote {
    border-left: 4px solid rgb(38, 173, 228);
    padding: 0.5em 1em;
    margin-bottom: 1em;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
	font-size: 1.6em;
}
p{
	font-size: 1em;
    margin: 0 0 1.5em 0;
}
a {
	text-decoration: none;
    color: $dark;
    &:hover {
        color: $secondary;
    }
}
.btn {
    background-color: white;
    padding: .6em 1.3em;
    border: 1px solid $dark;
    border-radius: 2em;
    color: $dark;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;

    &:hover, &:active, &:focus {
        color: $secondary;
        border-color: $secondary;
    }
}

/* new */
.container {
    position: relative;
    width: 90%;
    margin: auto;
}
.secondary, .secondary a, article.post-content a {
    color: $secondary;
}

article.post-content {
    font-size: 1.1em;
    hr {
        margin: 1em 0;
    }
    h2, h3, h4, h5 {
        margin: 1em 0 0.5em 0;
    }
    img {
        max-width: 100%;
    }
}

header[role="nav"] {
    background-color: white;
    padding: 1em 0 1em 1em;
    margin-bottom: 2em;
    font-family: 'Montserrat', sans-serif;
    h1 {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        font-weight: normal;
        line-height: 1;
        text-transform: uppercase;
        font-size: 0.8em;
        a {
            color: $primary;
            &:hover, &:focus, &:active {
                color: $secondary;
            }
        }

    }
    .site-nav {
        display: inline-block;
        float: right;
        a {
            text-transform: uppercase;
            margin-right: 0.5em;
            font-size: 0.8em;
            color: $primary;
            padding: 2em 1em;
            &:hover {
                color: $dark;
            }
            &.active {
                color: $secondary;
            }
        }
    }
}
.mob-icon-only {
    span {
        display: none;
    }
    i {
        display: inline;
    }
}
@media screen and (min-width: 35em) {
    header[role="nav"] {
        padding: 1.5em;
        margin-bottom: 8.5em;
        h1 {
            font-size: 1.2em;
        }
    }
    .mob-icon-only {
        span {
            display: inline;
        }
        i {
            display: none;
        }
        &.icon-visible-always i{
            display: inline;
            padding-right: 0.4em;
        }
    }
}
.banner {
    h1 {
        font-family: 'Lobster', sans-serif;
    }
    img {
        border-bottom: 0.3em solid $mediumgray;
        max-width: 100%;
    }
    p {
        font-size: 1.2em;
        line-height: 1.7;
    }
}
header[role="entity-title"] {
    padding: 0 0 2em 0;
    h1 {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 2.2em;
        line-height: 1.2;
    }
    h3 {
        font-size: 2.2em;
        line-height: 1.2;
        margin: 0;
        color: $primary;
    }
    time {
        text-transform: uppercase;
        font-size: 0.8em;
    }
    small > a {
        color: #000;
        &:hover {
            color: $secondary;
        }
    }
}
.content {
    z-index: 2;
    position: relative;
}

div.blog-archives {
   article {
        padding: 1em 0 0 0;
        display: block;
        time {
            width: 100%;
            display: block;
            float: left;
            text-transform: uppercase;
            font-size: 0.7em;
        }
        h2 {
            padding: 0 0 0.5em 0;
            margin: 0;
            border-bottom: 1px dotted #CCC;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            line-height: 1.5;
            font-size: 0.8em;
        }
   }
}

@media screen and (min-width: 50em) {
    div.blog-archives {
       article {
            time {
                width: 9em;
                display: inline-block;
                font-size: 0.8em;
            }
            h2 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 1em;
                line-height: 1;
            }
       }
    }
}

$footer-height: 2em;
.wrapper {
    min-height: 100%;
    position: relative;
    box-sizing: content-box;
    & > .container {
        padding-bottom: $footer-height + 12em;
        margin-bottom: -8em;
    }
}
footer {
    text-align: center;
    margin: 5em 0 0 0;
    padding: 1em 0;
    background-color: $primary;
    position: absolute;
    margin-top: -2em;
    left: 0;
    right: 0;
    bottom: 0;
    height: $footer-height;
    box-sizing: content-box;
    a {
        color: #000;
    }
}
ol, ul {
    margin: 0.5em 0 0.5em 2em;
}
.page-nav {
    position: relative;
    margin-top: 1.5em;
    overflow: hidden;
    a {
        &:first-child {
            float: left;
        }
        &:nth-child(2) {
            float: right;
        }
    }
}
@media screen and (min-width: 50em) {
    .container {
        width: 48em;
    }
    .page-nav {
        position: fixed;
        z-index: 1;
        top: 13.3em;
        width: 54em;
        margin-left: -3em;
    }
}
figure#about-image {
    background: white;
    display: inline-block;
    text-align: center;
    padding: 0.5em;
    margin: 1em 0 0 0em;
    box-shadow: 1px 1px 3px rgba(99, 115, 121, 0.51);
    @include transform(rotateZ(-10deg));
    @include transform-origin(50%, 0, 0);
    &:hover {
        -moz-animation: shake 1s alternate;
        -webkit-animation: shake 1s alternate;
        animation: shake 1s alternate;
    }

    img {
        width: 200px;
        height: 200px;
    }
}
@-moz-keyframes shake {
    0% {
        @include transform(rotateZ(-10deg));
    }
    50% {
        @include transform(rotateZ(0deg));
    }
    100% {
        @include transform(rotateZ(-10deg));
    }
}
@-webkit-keyframes shake {
    0% {
        @include transform(rotateZ(-10deg));
    }
    50% {
        @include transform(rotateZ(0deg));
    }
    100% {
        @include transform(rotateZ(-10deg));
    }
}
@keyframes shake {
    0% {
        @include transform(rotateZ(-10deg));
    }
    50% {
        @include transform(rotateZ(0deg));
    }
    100% {
        @include transform(rotateZ(-10deg));
    }
}

code {
    background: #E2E8EA;
    padding: 0 0.3em;
    border-radius: 0.3em;
}
.highlight {
    background: #E2E8EA;
    padding: 0.5em;
    overflow: scroll;
    code {
        background: transparent;
        padding: 0;
        border-radius: 0;
    }
}
.work-frame {
    background: #E2E8EA;
    padding: 1em;
    border-radius: 0.3em;
    margin-bottom: 3em;
    h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        margin: 1em 0 .4em;
    }
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        margin: 0 0 .4em;
    }
    time {
        font-size: 0.8em;
        text-transform: uppercase;
        color: $secondary;
    }
    p {
        font-size: 0.9em;
        margin: 0.5em 0 0 0;
    }
}
.works-content {
    img {
        max-width: 100%;
    }
    header[role="entity-title"] h3{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 2em;
        background-color: $secondary;
        color: white;
        text-align: center;
    }
}

.color-pallette {
    width: 100%;
    margin-bottom: 2em;
    float: left;
}
.sq-box-left, .sq-box-right {
    height: 3em;
    width: 100%;
    float: left;
}
.video-wrapper   {width:100%;height:100%;margin:0 auto auto 0;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

figcaption {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    color: #7f929c;
    margin-bottom: 2em;
    margin-top: 0.25em;
}
.btn-tweet {
    background: $twitter;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    &:hover {
        background-color: #52A3E0;
        color: white;
    }
}
.btn-github {
    background: $github;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    &:hover {
        background-color: $primary;
        color: white;
    }
}
.btn-secondary {
    background: $secondary;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    &:hover {
        color: white;
    }
}
